@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --border:.5px solid rgba(0, 0, 0, 0.142);
}

header {
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.142);
}
header nav {
  width: 80%;
  margin: auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-logo {
  height: -moz-fit-content;
  height: fit-content;
}
header nav .nav-search {
  width: 500px;
  margin-left: 1em;
  display: flex;
}
header nav .nav-search .nav-search-button {
  width: 80px;
  cursor: pointer;
  background: #0D6EFD;
  border-radius: 0 8px 8px 0;
}
header nav .nav-search .nav-search-button img {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-top: 8px;
}
header nav .nav-search input {
  width: 90%;
  height: 40px;
  border: 1px solid rgba(9, 9, 9, 0.6235294118);
  border-radius: 8px 0 0px 8px;
  border-right: none;
  outline-color: #0D6EFD;
  outline-offset: 0.1px;
  padding-left: 1em;
}
header nav .nav-buttons {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
header nav .nav-buttons .nav-btns {
  width: 120px;
  border: 0.5px solid rgba(0, 0, 0, 0.142);
  border-radius: 4px;
  margin-left: 1em;
  height: 40px;
  box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
}
header nav .nav-buttons .nav-btns a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
header nav .nav-buttons .nav-btns div {
  padding-top: 8px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin: auto;
}
header nav .nav-buttons .nav-btns div p {
  font-weight: 500;
  padding-left: 5px;
  font-size: 14px;
  color: rgb(72, 72, 72);
}
header nav .nav-buttons .nav-btns .wish-list {
  padding-top: 9px;
}
header nav .nav-buttons .nav-btns:hover {
  background-color: rgba(227, 227, 227, 0.7803921569);
}

.nav-2 {
  width: 80%;
  margin: 1em auto;
}
.nav-2 .nav2-links {
  display: flex;
  align-items: center;
}
.nav-2 .nav2-links .nav2-link {
  cursor: pointer;
  margin-right: 1.5em;
}
.nav-2 .nav2-links .nav2-link p {
  font-weight: 500;
  opacity: 0.8;
}
.nav-2 .nav2-links .category-link {
  display: flex;
  align-items: center;
}
.nav-2 .nav2-links .category-link .menu {
  margin-right: 0.3em;
}
.nav-2 .nav2-links .category-link .menu img {
  display: block;
}

.hero {
  background-image: url("/img/bg-3d.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0D6EFD;
  height: 70vh;
  margin-bottom: 2em;
}
.hero .hero-contents {
  padding-top: 17em;
  width: 80%;
  margin: auto;
}
.hero .hero-contents h1 {
  width: 320px;
  color: white;
}
.hero .hero-contents p {
  margin: 1em 0;
  color: white;
}
.hero .hero-contents .hero-btns button {
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 4px;
}
.hero .hero-contents .hero-btns .discover {
  width: 100px;
  background: #FF9017;
  color: white;
}
.hero .hero-contents .hero-btns .learn-more {
  width: 150px;
  margin-left: 1em;
  background: white;
  color: #0D6EFD;
}

.new-products {
  width: 80%;
  margin: auto;
}
.new-products .section-title {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 1.4em;
}
.new-products .product-lists {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  gap: 1%;
  flex-wrap: wrap;
  margin-bottom: 1.4em;
}
.new-products .product-lists .product-card {
  width: 100%;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 6px;
  border: 0.5px solid rgba(0, 0, 0, 0.142);
  box-shadow: -1px 3px 57px -46px rgb(0, 0, 0);
  -webkit-box-shadow: -1px 3px 57px -46px rgb(0, 0, 0);
  -moz-box-shadow: -1px 3px 57px -46px rgb(0, 0, 0);
}
.new-products .product-lists .product-card .p-c-img {
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  position: relative;
  margin: auto;
}
.new-products .product-lists .product-card .p-c-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.new-products .product-lists .product-card .price {
  font-weight: 500;
  width: 90%;
  margin: 1em auto 0 auto;
}
.new-products .product-lists .product-card .title {
  font-size: 14px;
  width: 90%;
  margin: 0.5em auto;
  height: 60px;
}
.new-products .product-lists .product-card .p-c-btns {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto 1em auto;
}
.new-products .product-lists .product-card .p-c-btns button {
  height: 40px;
  border: none;
  border-radius: 8px;
  margin-right: 0.5em;
  cursor: pointer;
}
.new-products .product-lists .product-card .p-c-btns .add-to-cart {
  width: 120px;
  background: #0D6EFD;
  color: white;
}
.new-products .product-lists .product-card .p-c-btns .add-to-wishlist {
  width: 40px;
  padding-top: 0.3em;
  background: white;
  border: 0.5px solid rgba(0, 0, 0, 0.142);
}
.new-products .product-lists .product-card .product-card-and-view-mask {
  position: relative;
  width: 100%;
}
.new-products .product-lists .product-card .product-card-and-view-mask .view-mask {
  position: absolute;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.337);
  width: 100%;
  border-radius: 6px 6px 0 0;
  z-index: 2;
  cursor: pointer;
  display: none;
}
.new-products .product-lists .product-card .product-card-and-view-mask .view-mask p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 6em auto;
  color: white;
}
.new-products .product-lists .product-card .product-card-and-view-mask:hover .view-mask {
  display: block !important;
}

.top-reviews {
  background-color: #EDEDED;
  position: relative;
  overflow: hidden;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  margin-bottom: 1.4em;
}
.top-reviews .t-r-bg-img img {
  width: 200px;
  position: absolute;
  opacity: 0.4;
}
.top-reviews .img1 img {
  right: 0px;
  top: -80px;
}
.top-reviews .img2 img {
  left: -10px;
  transform: rotate(90deg);
  top: -80px;
}
.top-reviews .img4 img {
  right: -50px;
  bottom: -50px;
}
.top-reviews .img3 img {
  left: -50px;
  bottom: -50px;
}
.top-reviews .top-reviews-contents {
  margin-top: 5em;
}
.top-reviews .top-reviews-contents .head {
  text-align: center;
}
.top-reviews .top-reviews-contents .head h1 {
  color: #0D6EFD;
  opacity: 0.8;
}
.top-reviews .top-reviews-contents .head p {
  width: 50%;
  margin: 2em auto;
  opacity: 0.6;
}
.top-reviews .top-reviews-contents .t-r-content {
  width: 80%;
  margin: auto;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content {
  display: flex;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content img {
  width: 600px;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews {
  opacity: 0.7;
  margin-left: 2em;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews .reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews .reviews .user {
  width: 60px;
  height: 60px;
  border: 0.5px solid rgba(0, 0, 0, 0.22);
  border-radius: 50%;
  margin-right: 0.5em;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews .reviews .texts {
  width: 90%;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews .reviews .texts .name {
  font-weight: 500;
  margin-bottom: 0.5em;
}
.top-reviews .top-reviews-contents .t-r-content .d-flex-t-r-content .user-reviews .reviews .texts small {
  font-weight: 400;
}
.top-reviews .top-reviews-contents .t-r-content .add-review-button {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 5em;
}
.top-reviews .top-reviews-contents .t-r-content .add-review-button button {
  width: 200px;
  height: 40px;
  background-color: #0D6EFD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.why-choose-us {
  width: 80%;
  margin: auto;
  margin-bottom: 1.4em;
}
.why-choose-us .section-title {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 1.4em;
}
.why-choose-us .why-choose-us-grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 3%;
}
.why-choose-us .why-choose-us-grid .w-c-content {
  margin-bottom: 3em;
  display: flex;
}
.why-choose-us .why-choose-us-grid .w-c-content .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: var(--border);
}
.why-choose-us .why-choose-us-grid .w-c-content .icon img {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.9em auto;
}
.why-choose-us .why-choose-us-grid .w-c-content .text {
  margin-left: 0.5em;
  width: 90%;
  opacity: 0.8;
}
.why-choose-us .why-choose-us-grid .w-c-content .text .title {
  font-weight: 500;
}

.blog-posts {
  width: 80%;
  margin: auto;
  margin-bottom: 1.4em;
}
.blog-posts .section-title {
  font-size: 22px;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 1.4em;
}
.blog-posts .post-list .post {
  width: 250px;
  border: var(--border);
  border-radius: 6px;
}
.blog-posts .post-list .post .post-top {
  height: 150px;
  background: rgba(13, 109, 253, 0.8);
  border-radius: 6px 6px 0 0;
}
.blog-posts .post-list .post .post-top img {
  display: block;
  width: 50%;
  margin: auto;
  padding-top: 1em;
}

.container {
  height: 240em;
}

.line {
  height: 1px;
  width: 100%;
  border-top: 0.5px solid rgba(0, 0, 0, 0.142);
}/*# sourceMappingURL=index.css.map */