// We should use this markup template in every css file
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    
}
:root{
    --border:.5px solid rgba(0, 0, 0, 0.142);
}

// Header  Section


// initial header 

header{
    width:100%;
    border-bottom: .5px solid rgba(0, 0, 0, 0.142);
    nav{
        width:80%;
        margin:auto;
        padding:1em 0;
        display: flex;
        justify-content:space-between;
        align-items: center;
        

        .nav-logo{
            
            height:fit-content;
        }

        .nav-search{
            width:500px;
            margin-left:1em;
            display: flex;
            .nav-search-button{
                width:80px;
                cursor: pointer;
                
                
                background:#0D6EFD;
                
                border-radius: 0 8px 8px 0;
                img{
                    display: block;
                    width:fit-content;
                    margin:auto;
                    padding-top:8px;
                }
            }
            input{
                width:90%;
                height:40px;
                border:1px solid #0909099f;
                border-radius: 8px 0 0px 8px;
                border-right:none;
                outline-color:#0D6EFD;
                outline-offset: .1px;
                padding-left:1em;
                
            }
            
        }
        .nav-buttons{
            display: flex;
            width:fit-content;
            
            
            .nav-btns{
                width:120px;
                border:.5px solid rgba(0, 0, 0, 0.142);
                border-radius: 4px;
                margin-left:1em;
                height:40px;
                box-shadow: -1px 0px 19px -16px rgba(0,0,0,0.67);
                -webkit-box-shadow: -1px 0px 19px -16px rgba(0,0,0,0.67);
                -moz-box-shadow: -1px 0px 19px -16px rgba(0,0,0,0.67);
                a{
                    text-decoration: none;
                    color:black;
                    width: 100%;
                    height:100%;
                    
                    
                }
                
                div{
                    padding-top:8px;
                    display: flex;
                    width:fit-content;
                    align-items: center;
                    margin:auto;
                    p{
                        font-weight: 500;
                        padding-left:5px;
                        font-size:14px;
                        color:rgb(72 72 72);
                        
                    }
                    
                    
                    
                }
                .wish-list{
                    padding-top:9px;
                }
                
            }
            .nav-btns:hover{
                background-color: #e3e3e3c7;
                
            }

        }
    }
}

// Nav-2

.nav-2{
    
    width:80%;
    margin:1em auto;
    .nav2-links{
        display: flex;
        align-items: center;
        .nav2-link{
            cursor: pointer;
            margin-right:1.5em;
            p{
                font-weight:500;
                opacity: .8;
                
            }
        }
        .category-link{
            display: flex;
            align-items: center;
            .menu{
                margin-right:.3em;
                img{
                    
                    display:block;
                }
            }
        }

    }
    
}
// responsive header



// End Header Section


// Hero Section

.hero{
    background-image: url('/img/bg-3d.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #0D6EFD;
    height:70vh;
    margin-bottom: 2em;
    .hero-contents{
        padding-top:17em;
        width:80%;
        
        margin:auto;
        
        
        
        h1{
            width:320px;
            color:white;
            
        }
        p{
            margin:1em 0;
            color:white;
        }
        .hero-btns{
            button{
                cursor: pointer;
                height:40px;
                border:none;
                border-radius: 4px;
            }
            .discover{
                width:100px;
                background:#FF9017;
                color:white;

            }
            .learn-more{
                width:150px;
                margin-left:1em;
                background:white;
                color:#0D6EFD;
            }
        }
    }
}

// End Hero Section


// New Products

.new-products{
    width:80%;
    margin:auto;


    .section-title{
        font-size:22px;
        font-weight:500;
        opacity:.8;
        margin-bottom: 1.4em;
    }

    .product-lists{
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        gap:1%;
        flex-wrap:wrap;
        margin-bottom: 1.4em;
        


        .product-card{
            width:100%;
            margin-right:.5em;
            margin-bottom: .5em;
            //min-width:220px;
            height:fit-content;
            
            border-radius: 6px;
            border:.5px solid rgba(0, 0, 0, 0.142);
            box-shadow: -1px 3px 57px -46px rgba(0,0,0,1);
            -webkit-box-shadow: -1px 3px 57px -46px rgba(0,0,0,1);
            -moz-box-shadow: -1px 3px 57px -46px rgba(0,0,0,1);


            .p-c-img{
                width:fit-content;
                
                padding:1em;
                position: relative;
                margin: auto;
                img{
                    display: block;
                    width:100%;
                    height:100%;
                    
                }

                
            }
            

            .price{
                font-weight: 500;
                width:90%;
                margin:1em auto 0 auto;
                
            }
            .title{
                font-size:14px;
                width:90%;
                margin:.5em auto;
                height:60px;
            }
            .p-c-btns{
                width:90%;
                display: flex;
                align-items: center;
                margin:0 auto 1em auto;
                button{
                    height:40px;
                    border:none;
                    border-radius: 8px;
                    margin-right:.5em;
                    cursor: pointer;
                }
                .add-to-cart{
                    width:120px;
                    background:#0D6EFD;
                    color:white;
                }
                .add-to-wishlist{
                    width:40px;
                    padding-top:.3em;
                    background:white;
                    border:.5px solid rgba(0, 0, 0, 0.142);
                    
                }
                
            }

            .product-card-and-view-mask{
                position: relative;
                width:100%;

                .view-mask{
                    position: absolute;
                    height:100%;
                    background-color: rgba(0, 0, 0, 0.337);
                    width:100%;
                    border-radius:6px 6px 0 0;
                    z-index:2;
                    cursor: pointer;
                    p{
                        width:fit-content;
                        margin:6em auto;
                        color:white;
                    }
                    
                    display: none;
                }
            }
            .product-card-and-view-mask:hover{
               
                .view-mask{
                    
                    display: block !important;
                    
                }
            }

        }
    }
}

// End New Products


// Top Reviews

.top-reviews{
    background-color:#EDEDED;
    position: relative;
    overflow: hidden;
    height:fit-content;
    padding:1em;
    padding-bottom: 3em;
    margin-bottom: 1.4em;
    
    .t-r-bg-img img{
        width:200px;
        position:absolute;
        opacity: .4;
    }
    .img1 img{
        right:0px;
        top:-80px;

    }
    .img2 img{
        left:-10px;
        transform:rotate(90deg);
        top:-80px;
    }
    .img4 img{
        right:-50px;
        bottom:-50px;
    }
    .img3 img{
        left:-50px;
        bottom:-50px;
    }

    .top-reviews-contents{
        margin-top:5em;
        .head{
            text-align: center;
            h1{
                color:#0D6EFD;
                opacity: .8;
            }
            p{
               width:50%;
               margin:2em auto;
               opacity: .6;
            }
        }
        .t-r-content{
            width:80%;
            margin:auto;
            .d-flex-t-r-content{
                display: flex;
                img{
                    width:600px;
                }
                .user-reviews{
                    opacity: .7;
                    margin-left:2em;
                    .reviews{
                        display:flex;
                        justify-content: space-between;
                        margin-bottom: 1em;
                        

                        
                        .user{
                            width:60px;
                            height:60px;
                            border:.5px solid rgba(0, 0, 0, 0.22);
                            border-radius: 50%;
                            margin-right:.5em;
                        }
                        .texts{
                            width:90%;
                            .name{
                                font-weight: 500;
                                margin-bottom: .5em;
                            }
                            small{
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .add-review-button{
                width:fit-content;
                margin:auto;
                margin-top:5em;
                button{
                    width:200px;
                    height:40px;
                    background-color: #0D6EFD;
                    color:white;
                    border:none;
                    border-radius: 4px;
                    cursor: pointer;

                }
            }

        }
    }

}

// End Top Reviews


// Why Choose Us

.why-choose-us{
    width:80%;
    margin:auto;
    margin-bottom: 1.4em;
    .section-title{
        font-size:22px;
        font-weight:500;
        opacity:.8;
        margin-bottom: 1.4em;
    }
    .why-choose-us-grid{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap:3%;

        .w-c-content{
            margin-bottom: 3em;
            display: flex;

            .icon{
                width:60px;
                height:60px;
                border-radius: 50%;
                border:var(--border);
                img{
                    display: block;
                    width:fit-content;
                    margin:.9em auto;
                    
                }
            }
            .text{
                margin-left:.5em;
                width:90%;
                opacity: .8;
                .title{
                    font-weight: 500;

                }
                
            }
        }
    }
}

// End Why Choose Us


// Blog Posts

.blog-posts{
    width:80%;
    margin:auto;
    margin-bottom: 4.4em;
    

    .section-title{
        font-size:22px;
        font-weight:500;
        opacity:.8;
        margin-bottom: 1.4em;
    }

    .post-list{
        display:flex;
        flex-wrap:wrap;
        gap:1%;

        .post{

            width:24%;
            border:var(--border);
            border-radius: 6px;
            .post-top{
                height:fit-content;
                background:#0d6dfdcc;
                border-radius: 6px 6px 0 0;
                
                img{
                    display: block;
                    width:50%;
                    margin:auto;
                    padding-top:10%;
                    
                }
            }
            .date{
                display: flex;
                align-items: center;
                margin-bottom: .5em;
                padding:1em 1em 0 .75em;
                img{
                    display: block;
                    margin-right:.3em;

                }
                p{
                    font-size:11px;
                    opacity:.7;
                    padding-top:.3em;
                }
            }
            .title{
                font-weight: 500;
                font-size:14px;
                margin-bottom: .5em;
                padding:0 1em 0 1em;
            }
            small{
                display: block;
                padding:0 1em 1em 1em;
            }
        }
    }
    
}

// End Blog Posts


// Footer 

footer{
    background-color: #458fff;


    .footer-contents{
        width:80%;
        margin:auto;
        padding:3em 0;

        

        .brand-details{
            
            p{
                opacity:.8;
                color:white;
                font-size:15px;
                
            }
            img{
                display:block;
                margin-bottom: .5em;
            }
            
        }
        .footer-flex-items{
            display: flex;
            justify-content: space-between;
            

            .f-links{
                .title{
                    font-weight:500;
                    color:white;
                    margin-bottom: .5em;

                }
                .links a, .txt{
                    display: block;
                    color:white;
                    opacity:.8;
                    text-decoration: none;
                    font-weight:300;
                }
                a:hover{
                    text-decoration: underline;
                }
            }

            .newsletter{
                
                .newsletter-input{
                    margin-top:1em;
                    display: flex;
                    input{
                        height:40px;
                        padding-left:1em;
                        border-radius: 6px 0 0 6px;
                        outline:none;
                        border:none;
                        width:70%;
                    }
                    button{
                        height:40px;
                        width:25%;
                        border-left:none;
                        border:none;
                        background-color: #accdff;
                        border-radius: 0 6px 6px 0;
                        cursor: pointer;
                    }
                }
            }


        }
       



    }
    .footer-bottom{
        margin-top:2em;
        
        background-color: #0D6EFD;

        .f-b-contents{
            padding:2em 0;
            width:80%;
            margin:auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        

        .payment-methods{
            
           padding-top:.5em;
            
        }
        .links a{
            text-decoration: none;
            display: block;
            margin-left:1em;
            color:white;

        }
        a:hover{
            text-decoration: underline;
        }
        .links{
            display: flex;

        }
    }
}

// End Footer

// Container



.line{
    height:1px;

    width:100%;
    border-top:.5px solid rgba(0, 0, 0, 0.142);
}