// All Responsiveness will be done here

// Disable things when screen width > 775 px 


//-- Home page

@media only screen and (max-width:1370px){
    .nav-search{
        transition-duration: .5s;
        width:400px !important;
    }
    
    .nav-buttons{
        .nav-btns{
            p{
                font-size:12px;
            }
        }
    }
   

   
}



@media screen and (max-width:1115px){
    .nav-search{
        transition-duration:.5s;
        width:320px !important;
    }

    .product-lists{
        grid-template-columns: 24% 24% 24% 24% !important;
        margin-bottom: 3em !important;
        .product-card{
            margin-bottom: 0 !important;
        }
    }

    .t-r-content{

        .d-flex-t-r-content{
            grid-template-columns: 100% !important;
            img{
                display: none;
            }
        }
    }

    .footer-flex-items{
       .partnership, .help, .brand-details, .about{
        margin-right:1em;
       }
    }
}

@media screen and (max-width:1025px){
    .nav-search{
        transition-duration:.5s;
        width:250px !important;
    }

    .why-choose-us{
        .why-choose-us-grid{

            grid-template-columns: 49% 49% !important;
            gap:1% !important;
        }
    }

    .footer-flex-items{
        display: grid !important;
        grid-template-columns: 33% 33% 33%;

        .brand-details{
            margin-bottom: 1.5em;
        }
        .partnership{
            grid-column-start: 1;
            grid-column-end:2;
            
        }
        .newsletter{
            width:90% !important;
            grid-column-start: 2;
            grid-column-end:5;

            input{
                width:100% !important;
            }
            
        }
        
        .f-links{
            margin-bottom: 1.5em;
   
        }
    }


}

@media screen and (max-width:940px){
    .nav-search{
        transition-duration:.5s;
        width:220px !important;
    }
}

@media screen and (max-width:900px){
    .nav{
        display: grid !important;
        grid-template-columns: 30% 20% 50%;
    } 

    .nav-search{
        width:fit-content !important;
        float:right;
        .nav-search-input-default{
            transition-duration:.5s;
            width:0 !important;
            padding:0 !important;
            margin:0 !important;
            border:none;
            
        }
        

        .nav-search-button{
            display: none;
        }
        .snd-nav-srch-btn{
            display: block !important;
            background:white !important;
            color:black !important;
            width:30px !important;
            opacity: .8;
            &:hover{
                color:#0D6EFD !important;
            }
        }
        
        justify-content: right;

    }

    .nav-buttons{
        width:100% !important;
        justify-content: right;
        
    }

    .hero{
        transition-duration: 1s;
        height:50vh !important;
        
        .hero-contents{
            padding:0 !important;

        }
    }

    .hero{
        .hero-contents{
            transition-duration: .5s;
            h1{
                font-size:24px;
                font-weight: 500 ;
            }
            p{
                font-size:15px;
            }
            button{
                height:35px !important;

            }
        }
    } 

    .product-lists{
        grid-template-columns: 33% 33% 33% !important;
        margin-bottom: 5em !important;
        gap:3px !important;
        
    }

    .blog-posts{
        .post-list{
            display:grid !important;
            grid-template-columns: 49% 49%;
            gap:1%;

            .post{
                transition-duration:.5s;
                width:100%;
            }
        }
        
    }


}

@media screen and (max-width:775px){
    .nav{
        width:95% !important;
        padding:.5em 0 !important;
        transition-duration: .5s;
        grid-template-columns: 60% 20% 20% !important;

        .nav-logo{
            img{
                height:35px;
                display: flex;
                align-items: center;
            }
        }
    }

    .nav-2{
        display: none;
    }
    .ham-menu{
        display: flex !important;
    }
    .snd-nav-srch-btn{
        margin-right:1em;
    }
    .nav-btns{
        transition-duration: .5s;
        display: none !important;
    }
    .only-navicons{
        transition-duration: .5s;
        display: block !important;
    }

    .hero{
        .hero-contents{
            transition-duration: .5s;
            width:90% !important;

            h1{
                width:90%;
            }
            p{
                width:90%;
            }
        }

        .hero-btns{
            
            button{
                width:fit-content !important;
                padding:0 1.5em !important;
            }
        }
    }

    .new-products, .top-reviews-contents{
        transition-duration: .5s;
        width:90% !important;
    }

    
    .product-lists{
        grid-template-columns: 49% 49% !important;
        margin-bottom: 5em !important;
        
        gap:10px !important;
    }
    
    .top-reviews{
        padding:1em 0 !important;
        i{
            transition-duration: .5s;
            font-size:70px !important;
        }
    }

    .top-reviews-contents .user-reviews{
        margin-left:0 !important;
    }


    .why-choose-us{
        transition-duration: .5s;
        width:90% !important;
        .why-choose-us-grid{

            grid-template-columns: 100% !important;
            
        }
    }
    .blog-posts{
        width:90% !important;
    }

    .footer-contents{
        width:90% !important;
    }

    .footer-bottom{
        .f-b-contents{
            img{
                width:120px;
            }
            .links{
                a{
                    font-size:13px !important;
                }
            }
        }
    }


}

@media screen and (max-width:630px){

    .footer-flex-items{
        
        grid-template-columns: 50% 50% !important;

        .partnership{
            grid-column-start:2 ;
            grid-column-end:3 ;
        }
        .newsletter{
            grid-column-start:1 ;
            grid-column-end:3 ;
        }

    }
}

@media screen and (max-width:420px){

    .snd-nav-srch-btn{
        transition-duration: .3s;
        margin-right:1.5em;
    }

    .hero{
        .hero-contents{
            h1{
                font-size:18px !important;
            }
            p{
                font-size:12px !important;

            }
            button{
                height:25px !important;
                font-size:10px !important;
            }
        }
    }

    .footer-flex-items{
        grid-template-columns: 100% !important;
        .f-links{
            text-align: center;
            margin-right:0 !important;
        }
        .partnership{
            grid-column-start:1 ;
            grid-column-end:2 ;
        }
        .newsletter{
            width:100% !important;
            grid-column-start:1 ;
            grid-column-end:2 ;
        }

        .brand-details{
            text-align: center;
            margin-right:0 !important;
            img{
                width:fit-content;
                margin:.5em auto;
            }
        }

    }
}

@media screen and (max-width:500px){

    .toggle-nav{
        p{
            transition-duration: .5s;
            font-size:15px !important;
        }
        small{
            transition-duration: .5s;
            font-size:13px !important;
        }
    }
    .product-card{
        .p-c-img{
            
            img{
                transition-duration: .5s !important;
                width:80% !important;
            }
        }
        p{
            font-size:12px !important;
        }
        button{
            height:30px !important;
            font-size:10px;
            i{
                font-size:12px !important;
            }
        }
    }

    .top-reviews-contents{
        .head{
            h1{
                font-size:20px;
            }
            p{
                font-size:14px;
            }
        }
        .reviews{
            .user{
                width:40px !important;
                height:40px !important;
            }
            .texts{
                small{
                    font-size:12px;
                }

               
            }
        }
    }
    .add-review-button{
        button{
            width:150px !important;
            height:30px !important;
        }
       
    }

    .footer-bottom{
        .f-b-contents{
            display: block !important;
            text-align: center;

            .links{
                width:fit-content;
                margin: .5em auto;
            }
        }
    }
}
// -- Home page

// Products Page

@media screen and (max-width:1370px){

    .product-card{
        
        .price{
            transition-duration: .5s;
            font-size:14px !important;
        }
        .title{
            transition-duration: .5s;
            font-size:13px !important;
        }

        .p-c-btns{
            button{
                transition-duration: .5s;
                height:35px !important;
                font-size:12px !important;
            }
        }
    }

    .filter-container{
        .filter *{
            transition-duration: .5s;
            font-size:14px !important;
        }
    }


}


@media screen and (max-width:1115px){
    .products-grid{
       
        grid-template-columns: 33% 33% 33% !important;
        column-gap:1% !important;
    }

}

@media screen and (max-width:1025px){
    .sort-by-price{
        .s-b-p{
            p{
                font-size:11px !important;
            }
        }
    }

    .price-range{

        .range{
            .min-max{
                width:45px !important;

            }
            label{
                font-size:13px !important;
            }
        }
        .apply{
            font-size:13px !important;
        }
    }


}

@media screen and (max-width:940px){

}

@media screen and (max-width:900px){

    .products-grid{
        
        grid-template-columns: 49% 49% !important;
        column-gap:2% !important;
    }
    .s-b-p{
        p{
            display: none;
        }
        i{
            transition-duration:.5s;
            margin-left:0 !important;
        }
    }

}

@media screen and (max-width:775px){
    .navigator-products{
        transition-duration: .5s;
        top:56px !important;
        .n-p-contents{
            transition-duration: .5s;
            padding:.5em .5em .5em 0 !important;
            a{
                transition-duration: .5s;
                font-size:12px !important;
            }
        }
    }



    .n-p-contents{
        transition-duration: .5s;
        width:90% !important;
    }

    .product-list-top{
        top:90px !important;
    }

    .product-container{
        transition-duration:.5s;
        width:90% !important;
        grid-template-columns: 100% !important;

        .filter-container{
            display: none;
            .filter{
                display: none;
            }
        }
        .products-grid{
        
            grid-template-columns: 33% 33% 33% !important;
            column-gap:.6% !important;
        }

        .hidden-filter-icon{
            transition-duration: .5s;
            display: block;
        }

        .product-list-search{
            input, button{
                height:35px !important;
                font-size:14px !important;

            }
            input{
                font-size:12px !important;
            }
            
        
        }
        .product-list-top{
            grid-template-columns: 85% 15% !important;
        }

        .product-list-tags-and-refinements{
            p, div{
                transition-duration: .5s;
                font-size:11px !important;
            }
        }
    }





}

@media screen and (max-width:630px){

    .product-container{
        .products-grid{
        
            grid-template-columns: 49% 49% !important;
            column-gap:2% !important;
        }
    }

}

@media screen and (max-width:420px){

}

@media screen and (max-width:500px){
    .product-list-top{
        padding-top:.5em !important;
    }

    .filter-container-mobile{
        p{
            font-size:14px !important;
        }
    }
}

// End Products Page



// View details Page


@media screen and (max-width:1370px){
 
}

@media screen and (max-width:1115px){

}

@media screen and (max-width:1050px){

    .details-top{
        .img{

            .details-main-img{
                transition-duration: .5s;
                height:60% !important;
                img{
                    transition-duration:.5s;
                    max-width:300px;
                    max-height:300px;
                }
            }

            .image-gallery{
                display: grid;
                grid-template-columns: 24% 24% 24% 24% ;
                gap:5px;

                .img-gallery-img{
                    width:100%;
                }
            }
        }

        .details{

            .title, .more-details{
                width:95%;
            }

            .size-quantity{

                .select-box{
                    transition-duration:.5s;
                    width:140px !important;
                }
                .quantity{
                    button{
                        transition-duration:.5s;
                        width:40px !important;
                    }
                }
            }
        }
    }

    .details-bottom{
        
        .details-bottom-container{
            display: block;

            .reviews-and-rating{
                padding-bottom: 1em;
                border-bottom: var(--border);
            }
            .more-items{
                margin-top:1em;
                margin-left:0;
            }
        }

    }


}

@media screen and (max-width:1000px){


}

@media screen and (max-width:900px){
  

}

@media screen and (max-width:775px){

    .details-top{
        transition-duration:.5s;
        width:90%;
        display:block;
        background:white;


        .img{
            background:#f7f7f7;

            .details-main-img{
                height:80% !important;

                img{
                    width:500px;
                    max-width:100%;
                    max-height:100%;
                }
            }
            .image-gallery{
                display: flex;
                flex-wrap: wrap;
                .img-gallery-img{
                    width:80px;
                }

            }
        }

        .details{
            margin-top:1em;
            padding-left:0;
        }
        
    }

    .details-bottom{

        .details-bottom-container{
            width:90%;

            .reviews-and-rating{
                .top{
                    button{
                        width:40%;
                        height:35px;
                        font-size:11px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:600px){
    .image-gallery{
        .img-gallery-img{
            height:60px !important;
        }
    }

    .write-reply{
        input, button{
            
            font-size:11px !important;
        }

    }

    .more-items{
        .more-items-container{
            padding:1em .5em  !important;
        }
        .item{
            align-items: center;
            width:100% !important;
            .left{
                border:none !important;
            }
            .right{
                p{
                    font-size:13px;
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    .image-gallery{
        flex-wrap: wrap;

        .img-gallery-img{
            width:60px !important;
        }
    }

  


}

@media screen and (max-width:340px){
    .image-gallery{
        display: grid !important;
        grid-template-columns: 33% 33% 33% !important;
        
    }
}


// End view details page 


// Cart page


@media screen and (max-width:1780px){
    .suggested-product-list{
        display: grid !important;
        grid-template-columns: 19% 19% 19% 19% 19%;
        gap:1%;

        .s-product-card{
            width:100% !important;
            margin:auto;
        }
    }
}

@media only screen and (max-width:1570px){
    .suggested-product-list{
        grid-template-columns: 24% 24% 24% 24% !important;
        gap:1% !important;
    }
}

@media screen and (max-width:1115px){
    .cart-items-container{

        .item{

            .right{
                p{
                    transition-duration: .5s;
                    font-size:13px;
                    width:90% !important;
                }
            }
        }
    }

}

@media screen and (max-width:1050px){

}

@media screen and (max-width:1000px){

    .cart-top{
        grid-template-columns: 100% !important;
    }

}

@media screen and (max-width:900px){
  .suggested-product-list{
    grid-template-columns: 33% 33% 33% !important;
    gap:1%;
  }

}

@media screen and (max-width:775px){

  .cart-top, .cart-bottom-container{
    transition-duration:.5s;
    width:90% !important;
  }
  

}

@media screen and (max-width:600px){
    .item{
        display: block !important;

        .img-title-details{
            width:fit-content;
            margin:.5em auto !important;
            display: block !important;
            .left{
                border:none !important;
                margin-bottom:.5em;
                margin-right:0 !important;
                img{
                    width:fit-content;
                    margin:auto !important;
                    display: block;
                    width:30% !important;
                    height:80% !important;
                    min-width:150px;
                }
                
            }

            .right{
                text-align: center;

                p{
                    width:100% !important;

                }
            }

        }

        .q-p-container{
            width:fit-content;
            margin:auto;
        }
    }
   
}

@media screen and (max-width:500px){

    .suggested-product-list{
        grid-template-columns: 49% 49% !important;
        gap:1%;
      }
  
}

@media screen and (max-width:340px){
  
}


// End cart page

// Order info page

.order-nav{
    display: flex !important;
}

@media only screen and (max-width: 1200px){

    .info-container{
        p{
            font-size:14px !important;
        }

        .sign-in-msg{
            .left{
                width:50%;
            }

            .right{
                display: flex;
                button{
                    font-size:11px;
                    width:fit-content;
                }
            }
        }

    }
    .shipping-info{
        .saved-addresses{
            display: block !important;

            .address{
                margin-bottom: 1em;
                
            }
            .address-info{
                margin-right:0;
            }
        }
    }

    .address-info-and-sign-in-option{

        .shipping-and-address{

            .shipping-info{

                .delivery-choice{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        
                        
                        max-width:100%;
                        width:auto !important;
                        height:auto !important;
                        max-height:100px;
                    }
                }
            }
        }
    }

    .summary{
        
        .items-in-cart{

            .item{
                img{
                    transition-duration:.5s;
                    width:auto !important;
                    max-width:100%;
                    min-width:60px;
                    height:60px !important;
                }
                .info{
                    p{
                        transition-duration:.5s;
                        font-size:14px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:775px){

    .info-container{
        transition-duration:.5s;
        width:90% !important;
        display: block;
    }

    .summary{
        transition-duration:.5s;
        border-radius: 4px;
        border:var(--border);
        box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
        -webkit-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
        background:white;
        padding:1em;

        .item{
            display:flex !important;
            .img{

                .cnt{

                    p{
                        font-size:10px !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:360px){

    .btns{
        button{
            font-size:11px;
        }
    }
   
}

@media only screen and (max-width:500px){

    .address-info-and-sign-in-option{

    
        .sign-in-msg{

            .left{
                p{
                    font-size:12px !important;

                }
                small{
                    font-size:11px !important;
                }
            }
            .right{
                button{
                    height:35px;
                    font-size:10px;
                }
            }
            
        }

        .choice-card{

            .cod{
                width:40px !important;
                min-width:unset !important;
                max-width: 60px !important;
                display: flex;
                justify-content: center;
                align-items:center;
                
            }
        }
        .shipping-info{

            .address-flex{
                display: block;

                .left, .right{
                    margin-bottom:1em;
                }
            }
        }

        .btns{
            display: flex;
            button{
                margin-right:.5em;
            }
        }

    }

}

@media only screen and (max-width:430px){

    .sign-in-msg{
        .left{
            width:fit-content !important;
            small{
                display: none;
            }
        }
    }
    .address-info{
        .address-flex{
            display: block !important;
            .left, .right{
                margin-bottom: 1em;
            }
        }
    }
    .shipping-info{
        .saved-addresses{

            .address{
                p{
                    font-size:12px !important;
                }
            }
        }
    }
}


// End Order info page



// Page Profile

@media only screen and (max-width:1200px){

    .profile-content{

        .saved-addresses{
            display: block !important;

            .address{
                margin-bottom: 1em;
            }
        }
    }

}

@media only screen and (max-width:1030px){

    .order{
        .order-top{
            .o-id-date{
                p{
                    font-size:13px !important;
                    span{
                        padding:0 !important;
                        display: block;
                    }
                }
            }
            .order-util-btns{
                button{
                    width: fit-content;
                    
                    font-size:11px !important;
                }
            }
        }

        .ordered-items{
            grid-template-columns: 49% 49% !important;

        }
    }
}

@media only screen and (max-width:900px){

    .order-middle{
        div{
            margin-right:1em;
        }
    }
}

@media only screen and (max-width:775px){

    .profile-container{
        transition-duration: .5s;
        display: block;
        width:90% ;
        .profile-nav{
            display: none;
        }
    }
    .profile-content{

        .address{

            .address-info{
                .address-details{
                    font-size:13px !important;
                }
            }
        }
    }

    .current-orders{
        padding:1em !important;
    }
}

@media only screen and (max-width:600px){

    .ordered-items{
        .item{
            display: flex !important;
        }
    }

    .order-middle{
        grid-template-columns: 33% 33% 33%  !important;
    }
}

@media only screen and (max-width:550px){

    .order-middle{
        p{
            font-size:12px !important;
        }
        div{
            margin-right:.5em !important;
        }
    }
}
@media only screen and (max-width:500px){
    .order{

    
        .order-top{
        
            .o-id-date, .status{

                p{
                    font-size:11px !important;
                }
            }

            .order-util-btns{
                button{
                    height:35px !important;
                }
            }
        }
        .order-middle{
            grid-template-columns: 49% 49% !important;
            gap:1%;
        }
    }
}

@media only screen and (max-width:450px){

    .order-top{
        display: block !important;

        .o-id-date{
            span{
                display:inline !important;
                margin-left:.5em;
            }
        }

        .order-util-btns{
            margin-top:.5em;
            button{
                
                margin-left:0 !important;
                margin-right:.5em;
            }
        }
    }

    .order{
        .ordered-items{
            grid-template-columns: 100% !important;
        }
    }
}

@media only screen and (max-width:400px){

    .order{
        .order-middle{
            grid-template-columns: 100% !important;
            div{
                margin-bottom: .5em;
            }
        }
    }
    
}

// End page profile 


// Wishlist page 


@media only screen and (max-width:600px){
    .wishlist-items{
        .item{

            .img-and-details{

                p{
                    width:95% !important;
                }
            }

            .status{
                margin-top:.5em
            }
            .add-to-cart-and-datetime{
                text-align:left;
                margin-top:.5em;
                
            }
        }
    }

}

// End Wishlist page



// Transaction page 

@media only screen and (max-width:600px){

    .trans-id-and-amount{
        margin-left:0 !important;

    }
    .transaction-list{
        .item{
            .date{
                font-size:11px !important;
            }
        }
    }
   
}

// End Transaction page


// For all


@media only screen and (min-width:775px){
    .toggle-nav{
        display: none !important;
    }

    .hidden-filter-mobile{
        display: none !important;
    }

    .fade-out{
        height:fit-content !important;
        overflow: auto !important;
        opacity:1 !important;
    }


}