// All Responsiveness will be done here



// Header Navigation 

@media screen and (max-width:1370px){
    .nav-search{
        transition-duration: .5s;
        width:400px !important;
    }
    
    .nav-buttons{
        .nav-btns{
            p{
                font-size:12px;
            }
        }
    }
   

   
}



@media screen and (max-width:1115px){
    .nav-search{
        transition-duration:.5s;
        width:320px !important;
    }

    .product-lists{
        grid-template-columns: 24% 24% 24% 24% !important;
        margin-bottom: 3em !important;
        .product-card{
            margin-bottom: 0 !important;
        }
    }

    .t-r-content{

        .d-flex-t-r-content{
            grid-template-columns: 100% !important;
            img{
                display: none;
            }
        }
    }

    .footer-flex-items{
       .partnership, .help, .brand-details, .about{
        margin-right:1em;
       }
    }
}

@media screen and (max-width:1025px){
    .nav-search{
        transition-duration:.5s;
        width:250px !important;
    }

    .why-choose-us{
        .why-choose-us-grid{

            grid-template-columns: 49% 49% !important;
            gap:1% !important;
        }
    }

    .footer-flex-items{
        display: grid !important;
        grid-template-columns: 33% 33% 33%;

        .brand-details{
            margin-bottom: 1.5em;
        }
        .partnership{
            grid-column-start: 1;
            grid-column-end:2;
            
        }
        .newsletter{
            width:90% !important;
            grid-column-start: 2;
            grid-column-end:5;

            input{
                width:100% !important;
            }
            
        }
        
        .f-links{
            margin-bottom: 1.5em;
   
        }
    }


}

@media screen and (max-width:940px){
    .nav-search{
        transition-duration:.5s;
        width:220px !important;
    }
}

@media screen and (max-width:900px){
    .nav{
        display: grid !important;
        grid-template-columns: 30% 20% 50%;
    } 

    .nav-search{
        width:fit-content !important;
        float:right;
        .nav-search-input-default{
            transition-duration:.5s;
            width:0 !important;
            padding:0 !important;
            margin:0 !important;
            border:none;
            
        }
        

        .nav-search-button{
            display: none;
        }
        .snd-nav-srch-btn{
            display: block !important;
            background:white !important;
            color:black !important;
            width:30px !important;
            opacity: .8;
            &:hover{
                color:#0D6EFD !important;
            }
        }
        
        justify-content: right;

    }

    .nav-buttons{
        width:100% !important;
        justify-content: right;
        
    }

    .hero{
        transition-duration: 1s;
        height:50vh !important;
        
        .hero-contents{
            padding:0 !important;

        }
    }

    .hero{
        .hero-contents{
            transition-duration: .5s;
            h1{
                font-size:24px;
                font-weight: 500 ;
            }
            p{
                font-size:15px;
            }
            button{
                height:35px !important;

            }
        }
    } 

    .product-lists{
        grid-template-columns: 33% 33% 33% !important;
        margin-bottom: 5em !important;
        gap:3px !important;
        
    }

    .blog-posts{
        .post-list{
            display:grid !important;
            grid-template-columns: 49% 49%;
            gap:1%;

            .post{
                transition-duration:.5s;
                width:100%;
            }
        }
        
    }


}

@media screen and (max-width:775px){
    .nav{
        width:95% !important;
        padding:.5em 0 !important;
        transition-duration: .5s;
        grid-template-columns: 60% 20% 20% !important;

        .nav-logo{
            img{
                height:35px;
                display: flex;
                align-items: center;
            }
        }
    }

    .nav-2{
        display: none;
    }
    .ham-menu{
        display: flex !important;
    }
    .snd-nav-srch-btn{
        margin-right:1em;
    }
    .nav-btns{
        transition-duration: .5s;
        display: none !important;
    }
    .only-navicons{
        transition-duration: .5s;
        display: block !important;
    }

    .hero{
        .hero-contents{
            transition-duration: .5s;
            width:90% !important;

            h1{
                width:90%;
            }
            p{
                width:90%;
            }
        }

        .hero-btns{
            
            button{
                width:fit-content !important;
                padding:0 1.5em !important;
            }
        }
    }

    .new-products, .top-reviews-contents{
        transition-duration: .5s;
        width:90% !important;
    }

    
    .product-lists{
        grid-template-columns: 49% 49% !important;
        margin-bottom: 5em !important;
        
        gap:10px !important;
    }
    
    .top-reviews{
        padding:1em 0 !important;
        i{
            transition-duration: .5s;
            font-size:70px !important;
        }
    }

    .top-reviews-contents .user-reviews{
        margin-left:0 !important;
    }


    .why-choose-us{
        transition-duration: .5s;
        width:90% !important;
        .why-choose-us-grid{

            grid-template-columns: 100% !important;
            
        }
    }
    .blog-posts{
        width:90% !important;
    }

    .footer-bottom{
        .f-b-contents{
            img{
                width:120px;
            }
            .links{
                a{
                    font-size:13px !important;
                }
            }
        }
    }


}

@media screen and (max-width:630px){

    .footer-flex-items{
        
        grid-template-columns: 50% 50% !important;

        .partnership{
            grid-column-start:2 ;
            grid-column-end:3 ;
        }
        .newsletter{
            grid-column-start:1 ;
            grid-column-end:3 ;
        }

    }
}

@media screen and (max-width:420px){

    .snd-nav-srch-btn{
        transition-duration: .3s;
        margin-right:1.5em;
    }

    .hero{
        .hero-contents{
            h1{
                font-size:18px !important;
            }
            p{
                font-size:12px !important;

            }
            button{
                height:25px !important;
                font-size:10px !important;
            }
        }
    }

    .footer-flex-items{
        grid-template-columns: 100% !important;
        .f-links{
            text-align: center;
            margin-right:0 !important;
        }
        .partnership{
            grid-column-start:1 ;
            grid-column-end:2 ;
        }
        .newsletter{
            width:100% !important;
            grid-column-start:1 ;
            grid-column-end:2 ;
        }

        .brand-details{
            text-align: center;
            margin-right:0 !important;
            .img{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}

@media screen and (max-width:500px){
    .product-card{
        .p-c-img{
            
            img{
                transition-duration: .5s !important;
                width:120px !important;
            }
        }
        p{
            font-size:12px !important;
        }
        button{
            height:30px !important;
            font-size:10px;
            i{
                font-size:12px !important;
            }
        }
    }

    .top-reviews-contents{
        .head{
            h1{
                font-size:20px;
            }
            p{
                font-size:14px;
            }
        }
        .reviews{
            .user{
                width:40px !important;
                height:40px !important;
            }
            .texts{
                small{
                    font-size:12px;
                }

               
            }
        }
    }
    .add-review-button{
        button{
            width:150px !important;
            height:30px !important;
        }
       
    }

    .footer-bottom{
        .f-b-contents{
            display: block !important;
            text-align: center;

            .links{
                width:fit-content;
                margin: .5em auto;
            }
        }
    }
}
// End Header Navigation
