// staff pending orders

.search-facility{
    margin-bottom: 1em;
    display: flex;
    input{
        display: block;
        width:80%;
        height:40px;
        border:var(--border);
        border-radius: 4px 0 0 4px;
        padding:0 1em;
        border-right:none;
        outline-color: #0D6EFD;
    }

    button{
        width:20%;
        height:40px;
        border:none;
        background:#0D6EFD;
        border-radius: 0 4px 4px 0;
        color:white;
        font-weight: 500;

    }
}
// end