// Transaction lists

.operator-logo{
    img{
        width:80px;
    }
}

.trans-id-and-amount{
    margin:.5em;
    p{
        font-weight: 400;
        font-size: 13px;
        opacity: .8;

        span{
            font-weight: 500;
        }

    }
}

.date{
    font-size:12px;
    opacity: .8;
    margin-right:.5em;
    margin-bottom: .5em;
}

.view-order-btn{

    
    border:none;
    background:#0D6EFD;
    height:30px;
    padding:0 1.5em;
    border-radius: 4px;
    color:white;
    font-size:12px;
    opacity: .8;
    cursor: pointer;
    min-width:100px;
    
}

// End Transaction lists