
// Wishlist items


.item{

    border-top:var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5em 0;

    .trash{
        cursor: pointer;
        transition-duration: .2s;
        i{
            font-size:22px;
            &:hover{
                color:red;
            }
        }
    }

    .img-and-details{
        display: flex;
        align-items: center;
        img{
            width:70px;
            height:70px;

        }

        div{
            margin-left:.5em;
        }

        .wish-item-title{
            font-weight: 300 ;
            
            font-size:14px;
            width:80%;
        }
        small{
            font-size:13px;
            opacity: .8;
        }
    }

    .status{
        font-weight: 400;
        color:green;
        font-size:13px;
    }

    .add-to-cart-and-datetime{
        text-align: center;
        small{
            display: block;
            font-size:11px;
        }

        button{
            border:none;
            background:#0D6EFD;
            height:30px;
            padding:0 1.5em;
            border-radius: 22px;
            color:white;
            font-size:12px;
            cursor: pointer;
        }
    }



}

// End Wishlist items


