
// Wishlist items

.wishlist-items{
    .item{
        display: grid;
        grid-template-columns: 10% 45% 20% 25%;

    }

}
.item{

    border-top:var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5em 0;

    .trash{
        cursor: pointer;
        min-width: 40px;
        opacity: .8;
        transition-duration: .2s;
        i{
            font-size:20px;
            &:hover{
                color:red;
            }
        }
    }

    .trash-right{
        display: none;
        position:absolute;
        right:0;
        opacity: .8;
        i{
            font-size:20px;
            &:hover{
                color:red;
            }
        }
    }

    .img-and-details{
        display: flex;
        align-items: center;
        align-items: center;
        position: relative;
        img{
            width:60px;
            height:60px;

        }

        div{
            margin-left:.5em;
        }

        .wish-item-title{
            font-weight: 300 ;
            opacity: .8;
            font-size:13px;
            width:80%;
        }
        small{
            font-size:13px;
            opacity: .8;
        }
    }

    .status{
        font-weight: 400;
        color:green;
        font-size:11px;
        width:50px;
        min-width:50px;

    }

    .add-to-cart-and-datetime{
        opacity: .8;
        text-align: center;
        small{
            display: block;
            font-size:10px;
            margin-bottom: .2em;
            min-width:120px;
        }

        button{
            border:none;
            background:#0D6EFD;
            height:30px;
            padding:0 1.5em;
            border-radius: 22px;
            color:white;
            font-size:12px;
            cursor: pointer;
            min-width:95px;
        }
    }



}

// End Wishlist items


