body {
  background: #f7f7f7;
  position: relative;
}

.container {
  min-height: 80vh;
}

a{
    text-decoration:none;
}

.icon{
    padding-top:.2em;
}

.login-card {
  margin: 5% auto;
  background: white;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 400px;
  box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -1px 0px 19px -16px rgba(0, 0, 0, 0.67);
  padding: 1em;
}
.login-card .title {
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 18px;
  opacity: 0.8;
}
.login-card .input {
  margin-bottom: 1em;
}
.login-card .input span, .login-card .input a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
  margin-bottom: 0.3em;
}
.login-card .input a {
  color: #0D6EFD;
  font-size: 12px;
}
.login-card .input a:hover {
  text-decoration: underline;
}
.login-card .input input {
  width: 100%;
  height: 40px;
  border: var(--border);
  border-radius: 4px;
  background: #f7f7f7;
  padding: 0 1em;
  outline-color: #0D6EFD;
}
.login-card .login-password .pass-and-forgot-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-card .login-password .password-container input {
  width: 100%;
}
.login-card .login-password .password-container #password-toggle-icon {
  font-size: 15px;
}
.login-card button {
  width: 100%;
  border: var(--border);
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1em;
}
.login-card .login-btn {
  transition-duration: 0.1s;
  opacity: 0.8;
  color: white;
  background: #0D6EFD;
  border: none;
}
.login-card .login-btn:hover {
  opacity: 1;
}
.login-card .or-border {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-card .or-border small {
  opacity: 0.7;
  display: block;
  margin: 0 0.5em;
}
.login-card .sign-with-google, .login-card .sign-with-facebook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
.login-card .sign-with-google .icon img, .login-card .sign-with-facebook .icon img {
  width: 15px;
  height: 15px;
  display: block;
}
.login-card .sign-with-google .icon i, .login-card .sign-with-facebook .icon i {
  font-size: 16px;
}
.login-card .sign-with-facebook {
  background: #4267B2;
  color: white;
  border: none;
}
.login-card .register-link {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  align-items: center;
  display: flex;
  font-size: 14px;
  margin-top: 2em;
}
.login-card .register-link p, .login-card .register-link a {
  opacity: 0.8;
}
.login-card .register-link a {
  color: #0D6EFD;
  text-decoration: none;
  display: block;
}
.login-card .register-link a:hover {
  opacity: 1;
  text-decoration: underline;
}

.password-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  color: rgb(114, 114, 114);
}

footer {
  width: 100%;
  bottom: 0;
}
footer .footer-bottom {
  margin-top: 0;
}

.hover-unset:hover{
    background:
}

/*# sourceMappingURL=login.css.map */