{% extends 'index.html' %}
{% load static %}

    {% block jsfiles %}
        <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    {% endblock jsfiles %}

    {% block title %}
        Admin - Dashboard
    {% endblock title %}

    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
        <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    {% endblock cssfiles %}

    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}

    {% block nav_search %} {% endblock nav_search %}

    {% block nav_buttons %}
        <a href="{% url 'logout' %}">
            <button class="nav-btns">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
            </button>
        </a>

        <a href="{% url 'logout' %}">
            <div class="only-navicons">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
        </a>
    {% endblock nav_buttons %}

    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}
        <ul>

            <a href="{% url 'admin_dashboard' %}">
                <div >
                    <p class="p-link" >Dashboard</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'admin_product_list' %}">
                <div  >
                    <p class="p-link">Products</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="{% url 'admin_add_product' %}">
                <div  >
                    <p class="p-link">Add | Edit Products</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="{% url 'admin_orders' %}">
                <div >
                    <p class="p-link">Orders</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'admin_transactions' %}">
                <div >
                    <p class="p-link">Transactions</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'logout' %}">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'admin_dashboard' %}">Admin > </a>
                
                <a href="{% url 'admin_dashboard' %}" style="color:gray">Dashboard</a>
            </div>
            
        </div>

        <!-- End Page Navigator -->

        <!-- Profile Container -->

        <div class="profile-container admin-dashboard-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'admin_dashboard' %}" class="current-tab-profile">
                        <i style="padding-left:.2em;" class="fa-sharp fa-solid fa-objects-column"></i>
                        <li >Dashboard</li>
                    </a>
                    
                    <a href="{% url 'admin_product_list' %}">
                        <i class="fa-sharp fa-solid fa-box-open-full"></i>
                        <li class="">Products</li>
                    </a>

                    <a href="{% url 'admin_add_product' %}">
                        <i class="fas fa-edit"></i>
                        <li class="">Add | Edit Products</li>
                    </a>

                    <a href="{% url 'admin_orders' %}">
                        <i class="fas fa-cart-shopping"></i>
                        <li class="">Orders</li>
                    </a>

                    <a href="{% url 'admin_transactions' %}">
                        <i class="fas fa-right-left"></i>
                        <li class="">Transactions</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out"></i>
                        <li class="">Log out</li>
                    </a>
                </ul>

            </div>

            <!-- End Profile Navigation -->

            <div class="dashboard-contents">
                
                <div class="title">Dashboard</div>

                <div class="total-sales-order-products">

                    <div class="total-sales-orders">

                        <div class="total-sales">

                            <div class="icon">
                                <div class="icon-t-s">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>

                            <div class="text-details">
                                <p>Total Sales</p>
                                <p class="amount">$ <span>{{total_earnings|floatformat}}</span></p>
                            </div>

                        </div>

                        <div class="total-orders">

                            <div class="icon">
                                <div class="icon-t-o">
                                    <i class="fas fa-cart-shopping"></i>
                                </div>
                            </div>      

                            <div class="text-details">
                                <p>Total Orders</p>
                                <p class="amount">{{total_orders}}</p>
                            </div>
                        </div>

                    </div>

                    <div class="total-products">

                        <div class="icon">
                            <div class="icon-t-p">
                            
                                <i class="fas fa-bag-shopping"></i>
                            </div>
                        </div>

                        <div class="text-details">
                            <p>Total Products</p>
                            <p class="amount">{{total_products}}</p>
                        </div>
                    </div>

                </div>

                <div class="sales-statistics-visitors">

                    <div class="sales-statistics"></div>

                    <div class="visitors"></div>

                </div>

                <div class="latest-orders">
                    
                    <div class="title">Latest Orders</div>

                    <div class="order-container">

                        {% for order in orders %}

                        <div class="admin-order">

                            <div class="segment-one">

                                <div class="segment-one-sub">
                                    <p class="order-id">
                                        {{order.order_id}}
                                    </p>

                                    <p class="order-person">
                                        {{order.order_person_name}}
                                    </p>
                                </div>
                                <p class="order-person-email">
                                    {{order.order_person_email}}
                                </p>

                            </div>

                            <div class="segment-two">
                                <p class="order-total-amount">
                                    ${{order.order_total_price}}
                                </p>
                                <p class="order-date">
                                    {{order.order_date|date:"d-m-y"}}
                                </p>
                            </div>

                            {% if order.order_is_pending %}
                                <div class="order-status order-pending">
                                    <p>Pending</p>
                                </div>
                            {% elif order.order_is_cancelled %}
                                <div class="order-status order-cancelled">
                                    <p>Cancelled</p>
                                </div>
                            {% elif order.order_is_confirmed %}
                                <div class="order-status order-confirmed">
                                    <p>Confirmed</p>
                                </div>
                            {% else %}
                                <div class="order-status order-delivered">
                                    <p>Delivered</p>
                                </div>
                            {% endif %}

                        </div>

                        <div class="line"></div>
                        {% endfor %}

                    </div>

                    <div class="line"></div>

                </div>

            </div>

        </div>

        <!-- End Profile Container -->

    {% endblock container %}
    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}
