{% extends 'index.html' %}
{% load static %}

    {% block jsfiles %}
        <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    {% endblock jsfiles %}

    {% block title %} Pending Orders {% endblock title %}


    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    {% endblock cssfiles %}

    <!-- Navigation Bar -->
    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}
    {% block nav_search %}
    {% endblock nav_search %}

    {% block nav_buttons %}
        <a href="{% url 'logout' %}">
            <button class="nav-btns">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
            </button>
        </a>

        <a href="{% url 'logout' %}">
            <div class="only-navicons">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
        </a>
    {% endblock nav_buttons %}

    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}
        <ul>

            <a href="{% url 'admin_dashboard' %}">
                <div >
                    <p class="p-link" >Dashboard</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'admin_product_list' %}">
                <div  >
                    <p class="p-link">Products</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="{% url 'admin_add_product' %}">
                <div  >
                    <p class="p-link">Add | Edit Products</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="{% url 'admin_orders' %}">
                <div >
                    <p class="p-link">Orders</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'admin_transactions' %}">
                <div >
                    <p class="p-link">Transactions</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'logout' %}">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}
    {% endblock nav_2 %}

    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">

             <div class="n-p-contents">
                <a href="{% url 'admin_dashboard' %}">Admin > </a>

                <a href="{% url 'admin_orders' %}" style="color:gray">Orders</a>
            </div>

        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container product-container  admin-dashboard-container">

            <!-- Profile Navigation -->

             <div class="profile-nav">

                <ul>
                    <a href="{% url 'admin_dashboard' %}" >
                        <i style="padding-left:.2em;" class="fa-sharp fa-solid fa-objects-column"></i>
                        <li >Dashboard</li>
                    </a>

                    <a href="{% url 'admin_product_list' %}">
                        <i class="fa-sharp fa-solid fa-box-open-full"></i>
                        <li class="">Products</li>
                    </a>

                    <a href="{% url 'admin_add_product' %}">
                        <i class="fas fa-edit"></i>
                        <li class="">Add | Edit Products</li>
                    </a>

                    <a href="{% url 'admin_orders' %}" class="current-tab-profile">
                        <i class="fas fa-cart-shopping"></i>
                        <li class="">Orders</li>
                    </a>

                    <a href="{% url 'admin_transactions' %}">
                        <i class="fas fa-right-left"></i>
                        <li class="">Transactions</li>
                    </a>
                    <a href="{% url 'logout' %}">
                        <i class="fas fa-sign-out"></i>
                        <li class="">Log out</li>
                    </a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Profile User & Orders List & Status -->

            <div class="profile-content">
                <div class="current-orders admin-orders">

                    <form id="admin_search_pending_order">
                        {% csrf_token %}
                        <div class="search-facility">
                            <input type="search" id="query" placeholder="search by anything">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

                            <div class="search-loader-stf-main" id="search-loader-staff-main">
                                <i class="fas fa-cog fa-spin"></i>
                            </div>

                        </div>

                    </form>

                    <p class="title"> Pending orders</p>

                    <div id="pending-orders-container-admin">
                    {% for order in orders %}
                        {% if order.order.order_is_pending %}
                            <div class="order pending-order">
                                <div class="order-top">

                                    <div class="o-id-date">
                                        <p>Order ID : {{order.order.order_id}} <span>{{order.order.order_date|date:'d M, Y'}}</span></p>

                                        <p class="status status-pending" id="order-status{{order.order.id}}">Pending</p>

                                    </div>


                                    <div class="order-util-btns">

                                        <button class="cancel-order pending-order" id="cancelled-btn{{order.order.id}}" onclick="order_action('cancel', {{order.order.id}})">Cancel</button>
                                        <button class="track-order pending" id="confirm-btn{{order.order.id}}" onclick="order_action('confirm', {{order.order.id}})">Confirm</button>
                                    </div>


                                </div>

                                <div class="order-middle">

                                    <div class="delivery-person">

                                        <p class="o-m-title">
                                            Person
                                        </p>

                                        <p>{{order.order.order_person_name|title}}</p>
                                        <p>Phone : {{order.order.order_person_phone}}</p>
                                        <p>Email : {{order.order.order_person_email}}</p>

                                    </div>

                                    <div class="delivery-address">
                                        <p class="o-m-title">
                                            Delivery address
                                        </p>

                                        <p class="d-address">{{order.order.delivery_location|title}}</p>

                                    </div>

                                    <div class="payment">
                                        <div class="o-m-title">
                                            Payment
                                        </div>

                                        <p class="payment-type">
                                            {{order.order.order_payment_method}}
                                        </p>

                                        <p>Shipping fee : $150</p>
                                        <p>Total paid : ${{order.order.order_total_price}}</p>
                                    </div>

                                </div>

                                <div class="line"></div>

                                <div class="ordered-items">

                                    {% for item in order.items %}
                                     <div class="item">

                                        <div class="img">
                                            <img src="{{item.item.product_primary_image.url}}" alt="">
                                            <div class="cnt">
                                                <p>{{item.quantity}}</p>
                                            </div>
                                        </div>

                                        <div class="info">
                                            <p class="title">{{item.item.product_title}}</p>
                                            <small>Total : ${{item.price}}</small>
                                        </div>


                                    </div>
                                    {% endfor %}


                                </div>

                            </div>
                        {% elif order.order.order_is_cancelled %}
                            <div class="order cancelled-order">
                                <div class="order-top">

                                    <div class="o-id-date">
                                        <p>Order ID : {{order.order.order_id}} <span>{{order.order.order_date|date:'d, m, Y'}}</span></p>
                                            <p class="status status-cancelled">Cancelled</p>
                                    </div>



                                </div>

                                <div class="order-middle">

                                    <div class="delivery-person">

                                        <p class="o-m-title">
                                            Person
                                        </p>

                                        <p>{{order.order.order_person_name|title}}</p>
                                        <p>Phone : {{order.order.order_person_phone}}</p>
                                        <p>Email : {{order.order.order_person_email}}</p>

                                    </div>

                                    <div class="delivery-address">
                                        <p class="o-m-title">
                                            Delivery address
                                        </p>

                                        <p class="d-address">{{order.order.delivery_location|title}}</p>

                                    </div>

                                    <div class="payment">
                                        <div class="o-m-title">
                                            Payment
                                        </div>

                                        <p class="payment-type">
                                            {{order.order.payment_method}}
                                        </p>

                                        <p>Shipping fee : $150</p>
                                        <p>Total paid : ${{order.order.order_total_price}}</p>
                                    </div>

                                </div>

                                <div class="line"></div>

                                <div class="ordered-items">

                                    {% for item in order.items %}
                                     <div class="item">

                                        <div class="img">
                                            <img src="{{item.item.product_primary_image.url}}" alt="">
                                            <div class="cnt">
                                                <p>{{item.quantity}}</p>
                                            </div>
                                        </div>

                                        <div class="info">
                                            <p class="title">{{item.item.product_title}}</p>
                                            <small>Total : ${{item.price}}</small>
                                        </div>


                                    </div>
                                    {% endfor %}


                                </div>

                        </div>
                        {% else %}
                            <div class="order">
                                <div class="order-top">

                                    <div class="o-id-date">
                                        <p>Order ID : {{order.order.order_id}} <span>{{order.order.order_date|date:'d, M, Y'}}</span></p>
                                            <p class="status">Confirmed</p>
                                    </div>



                                </div>

                                <div class="order-middle">

                                    <div class="delivery-person">

                                        <p class="o-m-title">
                                            Person
                                        </p>

                                        <p>{{order.order.order_person_name|title}}</p>
                                        <p>Phone : {{order.order.order_person_phone}}</p>
                                        <p>Email : {{order.order.order_person_email}}</p>

                                    </div>

                                    <div class="delivery-address">
                                        <p class="o-m-title">
                                            Delivery address
                                        </p>

                                        <p class="d-address">{{order.order.delivery_location|title}}</p>

                                    </div>

                                    <div class="payment">
                                        <div class="o-m-title">
                                            Payment
                                        </div>

                                        <p class="payment-type">
                                            {{order.order.payment_method}}
                                        </p>

                                        <p>Shipping fee : $150</p>
                                        <p>Total paid : ${{order.order.order_total_price}}</p>
                                    </div>

                                </div>

                                <div class="line"></div>

                                <div class="ordered-items">

                                    {% for item in order.items %}
                                     <div class="item">

                                        <div class="img">
                                            <img src="{{item.item.product_primary_image.url}}" alt="">
                                            <div class="cnt">
                                                <p>{{item.quantity}}</p>
                                            </div>
                                        </div>

                                        <div class="info">
                                            <p class="title">{{item.item.product_title}}</p>
                                            <small>Total : ${{item.price}}</small>
                                        </div>


                                    </div>
                                    {% endfor %}


                                </div>

                        </div>
                        {% endif %}

                    {% endfor %}
                    </div>

                </div>

            </div>

            <!-- End Profile User & Orders List & Status -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}

    <!-- End Base Container -->

    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}

    {% block js_bottom %}
    <script src="{% static 'js/staff.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    {% endblock js_bottom %}
