{% extends 'index.html' %}
{% load static %}

    {% block jsfiles %}
        <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    {% endblock jsfiles %}

    {% block title %}
        Admin - Product List
    {% endblock title %}

    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
        <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    {% endblock cssfiles %}

    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}

    {% block nav_search %} {% endblock nav_search %}

    {% block nav_buttons %}
        <button class="nav-btns">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
        </button>

        <div class="only-navicons">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
        </div>
    {% endblock nav_buttons %}

    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}
         <ul>

            <a href="#">
                <div >
                    <p class="p-link" >Dashboard</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="#">
                <div  >
                    <p class="p-link">Products</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="#">
                <div >
                    <p class="p-link">Orders</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="#">
                <div >
                    <p class="p-link">Transactions</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="#">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'admin_dashboard' %}">Admin > </a>
                
                <a href="{% url 'admin_product_list' %}" style="color:gray">Products</a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container product-container  admin-dashboard-container" >

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'admin_dashboard' %}" >
                        <i style="padding-left:.2em;" class="fa-sharp fa-solid fa-objects-column"></i>
                        <li >Dashboard</li>
                    </a>

                    <a href="{% url 'admin_product_list' %}" class="current-tab-profile">
                        <i class="fa-sharp fa-solid fa-box-open-full"></i>
                        <li class="">Products</li>
                    </a>

                    <a href="{% url 'admin_add_product' %}">
                        <i class="fas fa-edit"></i>
                        <li class="">Add | Edit Products</li>
                    </a>

                    <a href="{% url 'admin_orders' %}">
                        <i class="fas fa-cart-shopping"></i>
                        <li class="">Orders</li>
                    </a>

                    <a href="{% url 'admin_transactions' %}">
                        <i class="fas fa-right-left"></i>
                        <li class="">Transactions</li>
                    </a>
                    <a href="#">
                        <i class="fas fa-sign-out"></i>
                        <li class="">Log out</li>
                    </a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


           
            
            <div class="product-list  dashboard-contents  p-grid-container">
                
                <div class="admin-dashboard-products-search">
                    <input type="text" id="nav-search" placeholder="Search a product . . . ">
                    <button><i class="fa fa-fw fa-search"></i></button>
                </div>

                <p class="title">Products List</p>

                    <ol class="products-grid">

                        {% for product in products %}
                            <li>

                                <div class="product-card product-card-admin">

                                    <div class="product-card-and-view-mask">
                                        <div class="p-c-img">
                                            <img draggable="false" src="{{product.product_primary_image.url}}" alt="">
                                        </div>
                                    </div>

                                    <div class="line"></div>

                                    <p class="title">{{product.product_title}}</p>

                                    <div class="p-c-btns">

                                        <div class="pen">h
                                            <i class="fas fa-pen"></i>
                                        </div>


                                        <p >${{product.product_price}}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                        <li>

                            <div class="product-card product-card-admin">

                                <div class="product-card-and-view-mask"> 
                                    <div class="p-c-img">
                                        <img draggable="false" src="/img/towfiqu-barbhuiya-0ZUoBtLw3y4-unsplash.jpg" alt="">
                                    </div>
                                </div>

                                <div class="line"></div>
                               
                                <p class="title">GoPro HERO 4k Action Camera-Black</p>
            
                                <div class="p-c-btns">
                                   
                                    <div class="pen">h
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    
                                    
                                    <p >$99.00</p>
                                </div>
                            </div> 
                
                        </li>
                        <li>

                            <div class="product-card product-card-admin">

                                <div class="product-card-and-view-mask"> 
                                    <div class="p-c-img">
                                        <img draggable="false" src="/img/test_image.jpeg" alt="">
                                    </div>
                                </div>

                                <div class="line"></div>
                               
                                <p class="title">GoPro HERO 4k Action Camera-Black</p>
            
                                <div class="p-c-btns">
                                   
                                    <div class="pen">h
                                        <i class="fas fa-pen"></i>
                                    </div>
                                    
                                    
                                    <p >$99.00</p>
                                </div>
                            </div> 
                
                        </li>
                        

                    </ol>
    
            </div>

        </div>

        <!-- End Profile Container -->


    {% endblock container %}

    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}