{% for tran in transactions %}
    <div class="item">

        <div class="operator-logo">

            <img src="{% static 'img/1656227518bkash-logo-png.png' %}" alt="">

        </div>

        <div class="trans-id-and-amount">

            <p class="trans-id "> <span>Trans ID:</span> {{tran.transaction_id}}</p>
            <p class="trans-id"><span>Amount:</span> ${{tran.transaction_amount}}</p>

        </div>

        <p class="date">{{tran.transaction_date}}</p>



        <a href="/account/admin/orders/?s={{tran.order.id}}" style="text-decoration:none">
            <button class="view-order-btn">
                View order
            </button>
        </a>

    </div>
{% endfor %}