{% extends 'index.html' %}
{% load static %}

    {% block title %} Register {% endblock title %}

    {% block jsfiles %}
        <script src="{% static 'js/login_registration.js' %}"></script>
    {% endblock jsfiles %}

    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock cssfiles %}


    {% block nav_2 %} {% endblock nav_2 %}

    {% block container %}

        <div class="login-card">

            <form id="register-form">

                {% csrf_token %}
                <p class="title">Register</p>

                <div class="input">
                    <span>Full Name</span>
                    <input type="text" id="name" placeholder="Enter name">
                </div>

                <div class="input">
                    <span>E-mail</span>
                    <input type="email" placeholder="Enter email">
                </div>

                <div class="input">
                    <span>Phone</span>
                    <input type="number" id="phone" placeholder="Enter phone number">
                </div>

                <div class="input login-password">

                    <div class="pass-and-forgot-pass">
                        <span>Password</span>
                    </div>

                    <div class="password-container input">
                        <input type="password" id="password-input1" placeholder="Enter password">
                        <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                          <i class="fa fa-eye-slash" id="password-toggle-icon"></i>
                        </span>
                    </div>
                    <script>
                        function togglePasswordVisibility() {
                            var passwordInput = document.getElementById("password-input1");
                            var passwordToggleIcon = document.getElementById("password-toggle-icon");

                            if (passwordInput.type === "password") {
                                passwordInput.type = "text";
                                passwordToggleIcon.className = "fa fa-eye";
                            } else {
                                passwordInput.type = "password";
                                passwordToggleIcon.className = "fa fa-eye-slash";
                            }
                        }
                    </script>
                     <div class="input">
                        <span>Confirm Password</span>
                        <input type="password" id="password-input2" placeholder="Confirm password">
                    </div>



                </div>

                <button type="submit" class="login-btn">
                    <span id="r-t">Login</span> <i id="r-i" class="fa fa-spinner fa-spin d-none"></i>
                </button>

            </form>

            <div class="or-border">
                <div class="line"></div>
                <small>OR</small>
                <div class="line"></div>
            </div>

            <button class="sign-with-google">

                <div class="icon">
                    <img src="../img/google-logo.png" alt="">
                </div>

                <p>Continue with Google</p>

                <div></div>

            </button>
            <button class="sign-with-facebook">

                <div class="icon">
                    <i class="fab fa-facebook"></i>
                </div>

                <p>Continue with Facebook</p>

                <div></div>

            </button>

            <div class="register-link">
                <p>Already have an account? </p>
                <a href="#"> Login</a>
            </div>

        </div>

    {% endblock container %}

    {% block footer_top %} {% endblock footer_top %}

