{% extends 'index.html' %}
{% load static %}

    {% block title %} Add | Edit a product {% endblock title %}


    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
        <link rel="stylesheet" href="{% static 'css/add_product.css' %}">
    {% endblock cssfiles %}

    <!-- Navigation Bar -->
    {% block msg_box %}
        <div class="success-msg" id="success-msg">
            <p class="" id="success-msg-p">Product added successfully</p>
        </div>
    {% endblock msg_box %}

    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}
    {% block nav_search %}
    {% endblock nav_search %}

    {% block nav_buttons %}

        <button class="nav-btns">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
        </button>

        <div class="only-navicons">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>

        <div class="only-navicons">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>

       <button class="nav-btns">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add a product
        </button>
    {% endblock nav_buttons %}


    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}

        <ul>

            <a href="{% url 'staff_main2' %}">
                <div >
                    <p class="p-link" >Account main</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'add_products' %}">
                <div  >
                    <p class="p-link">Add a product</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="#">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}
    {% endblock nav_2 %}



    {% block container %}


        <div class="navigator-products">

             <div class="n-p-contents">
                <a href="{% url 'staff_main2' %}">Home > </a>
                <a href="{% url 'staff_main2' %}">Account ></a>
                <a href="{% url 'staff_main2' %}">Staff ></a>
                <a href="{% url 'add_products' %}" style="color:gray">Add or edit a product</a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'staff_main2' %}"><li class="">Main</li></a>
                    <a href="#"><li class="current-tab-profile">Add | Edit a product</li></a>
                    <a href="#"><li class="">Log out</li></a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Profile User & Orders List & Status -->
            
            <div class="profile-content bg-white">
                <form id="add-a-product" enctype="multipart/form-data">

                    {% csrf_token %}

                    <div class="p-name-and-code m-1">

                        <div class="p-name ">
                            <p>Product title</p>
                            <input type="text" name="title" placeholder="Enter title" required>
                        </div>

                        <div class="p-code">
                            <p>Product Code</p>
                            <input type="text" name="product_code" required>
                        </div>

                    </div>

                    <div class="p-price-and-category m-1">

                        <div class="p-price">
                            <p>Price</p>
                            <input type="number" name="price" required>

                        </div>

                        <div class="p-category m-1">
                            <p>Category</p>
                            <select name="category" id="category">
                                <option value="">Select Category</option>

                                {% for cat in categories %}
                                    <option value="{{cat.id}}">{{cat.category_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="p-category category-new">
                            <p>Category (New)</p>
                            <input type="text" name="category_new" id="category_new" placeholder="Type new category name">
                        </div>

                    </div>

                    <div class="p-color-and-yarn-type m-1">

                        <div class="p-color">
                            <p>Color Type</p>
                            <input type="text" name="color_type" required>
                        </div>

                        <div class="p-yarn">
                            <p>Yarn Type</p>
                            <input type="text" name="yarn_type" required>
                        </div>

                    </div>

                    <div class="p-yarn-brand-status m-1">

                        <div class="p-yarn-count">
                            <p>Yarn Count</p>
                            <input type="number" name="yarn_count" required>
                        </div>

                        <div class="p-brand m-1">
                            <p>Brand</p>
                            <input type="text" name="brand" required>
                        </div>

                        <div class="p-status">
                            <p>Status</p>
                            <select name="status" required>
                                <option value="True">In Stock</option>
                                <option value="False">Out of Stock</option>
                            </select>
                        </div>

                    </div>

                    <div class="p-tags m-1">
                        <p>Tags</p>
                        <input type="text" name="tags" placeholder="Insert tags eg: Black hoodie, white t-shirt etc" required>
                    </div>

                    <div class="p-primary-image m-1">

                        <p>Product Primary Image</p>
                        <input type="file" name="primary_image" required>
                    </div>

                    <div class="p-images-and-preview">

                        <div class="p-images">
                            <p>Product Images</p>

                            <div class="input-and-preview">
                                <input type="file"  name="images" id="images" multiple required>
                                <div id="image-preview"></div>
                            </div>
                           
                        </div>

                       

                    </div>

                    <div class="p-images-alt-texts m-1">

                        <p>Image alternative texts</p>

                        <input type="text" name="image_alt_texts" placeholder="Separate with commas. Ex: black hoodie, black hoodie bottom, etc" required>
                    </div>

                    <div class="p-more-info m-1">
                        <p>More information</p>
                        <input type="text" name="more_info" required>
                    </div>

                    <div class="p-search-keywords m-1">
                        <p>Search Keywords</p>

                        <textarea name="search_keywords" placeholder="Separate with commas. Ex: black hoodie, white bra, etc" required></textarea>
                    </div>


                    <div class="on-discount-checkbox m-1">
                        <input name="on_discount" id="on_discount" type="checkbox"> <span>On Discount</span>
                    </div>

                    <div class="discount-price-and-expiry m-1">
                        <div class="discount-price m-1">
                            <p>Discount Percentage</p>
                            <input name="discount_percentage" id="discount_percentage" type="number">
                        </div>

                        <div class="discount-reason">
                            
                            <p>Discount reason</p>
                            <select name="discount_reason" id="discount_reason">
                                <option value="">Select reason</option>

                                {% for reason in discount_reasons %}

                                    <option value="{{reason.id}}">{{reason.discount_reason}}</option>

                                {% endfor %}

                            </select>
                            
                        </div>

                         <div class="discount-reason m-1">
                            <p>Discount Reason (New)</p>
                            <input name="discount_reason_new" id="discount_reason_new" type="text">
                        </div>

                        <div class="discount-expiry">
                            <p>Discount Expiry</p>

                            <input name="discount_expiry_date" type="date" id="discount_expiry">
                        </div>

                    </div>

                    <div class="save-and-clear-btn m-1">
                        <button class="clear">Clear</button>
                        <button class="save" id="product_save_btn" type="submit">Save</button>
                    </div>




                </form>

            </div>

            <!-- End Profile User & Orders List & Status -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}
    
    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}

    {% block js_bottom %}

        <script src="{% static 'js/add_a_product.js' %}"></script>

    {% endblock js_bottom %}

