<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Ecommerce</title>
    <script src="https://kit.fontawesome.com/a222b9eccb.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/media_queries.css">
</head>
<body>

    <!-- Navigation bar -->

    <header>
        <nav class="nav">
            <div class="nav-logo nav-ham-logo">
                <div class="ham-menu " id="nav-ham-menu" onclick="toggle_nav_menu()">
                    <img src="../img/menu.png" alt="">
                </div>

                <img src="../img/ logo.png" alt="Logo" class="logo">
            </div>
            
            <div>
                <div class="nav-search search-container-global">
                    <input type="text" name="search" id="nav-search" class="nav-search-input-default" placeholder="Search by anything">
                    <button class="nav-search-button">
                       
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <button class="nav-search-button snd-nav-srch-btn d-none"
                    onclick="document.getElementById('n-srch-hidden').classList.toggle('d-none')">
                       
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>

                    <div class="search-result-suggestion d-none" id="s-r-s">
                        <ul id="s-list">
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">poke man</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Mens T-shirts</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                            <a href="#">Hello how are you</a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="nav-buttons">

                <button class="nav-btns">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                </button>

                <div class="only-navicons">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </div>
                <div class="only-navicons ">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                </div>
                <div class="only-navicons">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    <span class="cart-item-count d-none">1</span>
                </div>

                <button class="nav-btns wishlist-btn">
                    <i class="fas fa-heart"></i></i> Wishlist
                </button>
                <button class="nav-btns my-cart-btn">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i> Cart
                    <span class="cart-item-count d-none">1</span>
                </button>

            </div>
        </nav>

        <div class="toggle-nav " id="toggle-nav">
            <ul>
                <a href="#">
                    <div >
                        <p>Shop</p>
                        <small>Ready made products</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="#">
                    <div >
                        <p>Hot offers</p>
                        <small>Get offer deals</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="#">
                    <div >
                        <p>New arrivals</p>
                        <small>See our new products</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
            </ul>
        </div>
    </header>
    <div class="nav-search-hidden d-none" id="n-srch-hidden">
        <input type="text" class="nav-search-input" placeholder="search by anything">
    </div>

    <!-- Navigation 2 , I don't know , but its in the design -->

    <nav class="nav-2">
        <div class="nav2-links">

            <div class="category-link nav2-link">
                <div class="menu">
                    <img src="../img/menu.png" alt="">
                </div>
                <p>Shop</p>

                <div class="hover-menu-category-menu">

                    <div class="mens cat-menu">
                        <p class="title">Mens</p>

                        <ul>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                            <a href="#">T-Shirts</a>
                        </ul>

                    </div>

                    <div class="womens cat-menu">

                        <p class="title">Womens</p>

                        <ul>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            
                        </ul>
                    </div>

                    <div class="kids cat-menu">
                        <p class="title">Kids</p>

                        <ul>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            
                        </ul>
                    </div>

                    <div class="others cat-menu">
                        <p class="title">Others</p>

                        <ul>
                            <a href="#">Socks</a>
                            <a href="#">Underware</a>
                            <a href="#">HandGlubs</a>
                            <a href="#">Shoes</a>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="hot-offer nav2-link">
                <p>Hot offers</p>
            </div>

            <div class="gift-boxes nav2-link">
                <p>New arrivals</p>
            </div>

           

        </div>
    </nav>

    <!-- End Navigation 2 -->

    <!-- Navigation bar  end -->


    <!-- Base Container -->

    <div class="container" id="container">

        <!-- Hero Section -->

        <div class="hero" id="hero">
            <div class="hero-contents">
                <h1>Best products & brands in our store</h1>

                <p>Trendy Products, Facotry Prices, Excellent Service</p>

                <div class="hero-btns">
                    <button class="discover">Discover</button>
                    <button class="learn-more">Learn more</button>
                </div>
            </div>
            
        </div>

        <!-- New Products Section -->

        <div class="new-products">

            <p class="section-title">
                New Products
            </p>

            <div class="product-lists">
                
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/image 17.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/1656227518bkash-logo-png.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/test_image.jpeg" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/go-pro.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/image 17.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/1656227518bkash-logo-png.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/test_image.jpeg" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/go-pro.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/image 17.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/1656227518bkash-logo-png.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/test_image.jpeg" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/go-pro.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/image 17.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/1656227518bkash-logo-png.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/test_image.jpeg" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/go-pro.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/image 17.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/1656227518bkash-logo-png.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/test_image.jpeg" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 
                <div class="product-card">
                    <div class="product-card-and-view-mask">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                        <div class="p-c-img">
                            <img draggable="false" src="../img/go-pro.png" alt="">
                        </div>
                       
                    </div>
                   
                    
                    <div class="line"></div>
                    <p class="price">$99.99</p>
                    <p class="title">GoPro HERO 4k Action Camera-Black</p>

                    <div class="p-c-btns">
                        <button class="add-to-cart">Add to cart</button>
                        <button class="add-to-wishlist">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div> 

               

                


            </div>

        </div>
        
        <!-- Top Reviews Section -->

        <div class="top-reviews">

            <div class="img1 t-r-bg-img">
                <i class="fa-solid fa-shirt"></i>
            </div>

            <div class="img2 t-r-bg-img">
                <i class="fa-solid fa-socks"></i>
            </div>

            <div class="img3 t-r-bg-img">
                <i class="fa fa-glasses"></i>
            </div>

            <div class="img4 t-r-bg-img">
                <i class="fa-solid fa-poo"></i>
            </div>

            <div class="top-reviews-contents">

                <div class="head">
                    <h1>Customer Top Reviews</h1>
                    <p>Lorquia voluptas, quod aperiam. Lorem ipsum dolor sit amet.lorem5 Lorem ipsum dolor sit amet.</p>

                </div>

                <div class="t-r-content">
                    
                    <div class="d-flex-t-r-content">
                        <img draggable="false" src="../img/towfiqu-barbhuiya-0ZUoBtLw3y4-unsplash.jpg" alt="">

                        <div class="user-reviews">

                            
                            <div class="reviews">

                                <div class="user">  
                                </div>
                                <div class="texts">
                                    <p class="name">Jahir Raihan</p>
                                    <small>Lorem e Lorem, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Harum, quas?.</small>

                                </div>

                            </div>
                           


                        </div>
                    </div>
                    

                    <div class="add-review-button">
                        <button>Provide Feedback</button>
                    </div>
                </div>

            </div>

        </div>

        <!-- Why Choose us , with custom background made with css -->

        <div class="why-choose-us">
            <p class="section-title">
               Why choose us
            </p>

            <div class="why-choose-us-grid">

                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="../img/star.png" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>

            </div>

            


        </div>


        <!-- Exclusive Blog posts -->

        <div class="blog-posts">

            <p class="section-title">
                Blog Posts
             </p>

             <div class="post-list">

                <div class="post">
                    <div class="post-top">
                        <img src="../img/blog-post.png" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="../img/date_range.png" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="../img/blog-post.png" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="../img/date_range.png" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="../img/blog-post.png" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="../img/date_range.png" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="../img/blog-post.png" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="../img/date_range.png" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>

             </div>

        </div>

        
    </div>

    <!-- End Base Container -->

    <!-- Footer -->

    <footer>
        <div class="footer-contents">

        
            <div class="footer-flex-items">

                <div class="brand-details">
                    <div class="img">
                        <img src="../img/logo-white.png" alt="Logo" class="logo">
                    </div>
                    
                    <p>Company name. </p>
                    <p>c 2018-2021 Templatemount.</p>
                    <p>All rights reserved.</p>
                </div>

                <div class="help f-links">
                    <p class="title">Help</p>

                    <div class="links">
                        <a href="#">Contact Us</a>
                        <a href="#">Refunds</a>
                        <a href="#">Live Chat</a>
                        <a href="#">Track Info</a>
                    </div>
                </div>

                <div class="about f-links">
                    <p class="title">About</p>

                    <div class="links">
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                        <a href="#">Policy & Terms</a>
                        <a href="#">Blog posts</a>
                    </div>
                </div>

                <div class="partnership f-links">
                    <p class="title">Partnership</p>

                    <div class="links">
                        <a href="#">Login / Register</a>
                        <a href="#">Settings</a>
                        <a href="#">My Orders</a>
                        
                    </div>
                </div>

                <div class="newsletter f-links">
                    <p class="title">Newsletter</p>

                    <p class="txt">Stay in touch with latest updates about our products and offers</p>

                    <div class="newsletter-input">
                        <input type="text" placeholder="Email">
                        <button>Join</button>
                    </div>

                    
                </div>

            </div>

            
        </div>
        <div class="footer-bottom">

            <div class="f-b-contents">

            
                <div class="payment-methods">
                    <img src="../img/Payment-methods.png" alt="">
                </div>

                <div class="links">
                    <a href="#">Support</a>
                    <a href="#">Privacy & Cookies</a>
                    <a href="#">Accessibility</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- End Footer -->
    <script src="../js/index.js"></script>
</body>
</html>