{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.js' %}"></script>


    <title> {% block title %} Home - Ecommerce {% endblock title %}</title>

    <script src="https://kit.fontawesome.com/a222b9eccb.js" crossorigin="anonymous"></script>
    {% block jsfiles %} {% endblock jsfiles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% block cssfiles %}
    {% endblock cssfiles %}
    <link rel="stylesheet" href="{% static 'css/media_queries.css' %}">

    {% block search_suggestions %}

    <script>
        var all_keywords = [{% for p in products %} '{{p.product_title}}', {% endfor %}
         {% for p in products %} '{{p.product_search_keyword}}', {% endfor %}
          {% for p in products %} '{{p.product_tags}}',{% endfor %} {% for c in categories %} '{{c.category_name}}', {% endfor %}];

    </script>

    {% endblock search_suggestions %}


</head>
<body>
    {% block msg_box %}
    {% endblock msg_box %}
    <!-- Navigation bar -->

    <header {% block hclass_names %} {% endblock hclass_names %}>
        <nav {% block nclass_names %} class="nav" {% endblock nclass_names %}>
            <div class="nav-logo nav-ham-logo">
                <div class="ham-menu " id="nav-ham-menu" onclick="toggle_nav_menu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <a href="{% url 'home' %}">
                    <img src="{% static 'img/ logo.png' %}" alt="Logo" class="logo">
                </a>
            </div>

            {% block nav_search %}
            <div>
                <form action="/products/" method="get">
                    <div class="nav-search search-container-global">

                            <input type="search" name="s" id="nav-search" class="nav-search-input-default" placeholder="Search by anything">
                            <button type="submit" class="nav-search-button">

                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>

                        <div  class="nav-search-button snd-nav-srch-btn d-none"
                        onclick="document.getElementById('n-srch-hidden').classList.toggle('d-none')">

                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>

                        <div class="search-result-suggestion d-none" id="s-r-s">
                            <ul id="s-list">

                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            {% endblock nav_search %}

            <div class="nav-buttons">
                {% block nav_buttons %}

                {% if request.user.is_authenticated %}
                    <a href="{% url 'account' %}">
                        <button class="nav-btns">
                            <i class="fa fa-user" aria-hidden="true"></i> Account
                        </button>
                    </a>

                    <a href="{% url 'account' %}">
                        <div class="only-navicons">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </a>
                {% else %}

                    <div class="only-navicons" >
                        <i class="fa fa-sign-in" aria-hidden="true" onclick="login(window.location.href)"></i>
                    </div>


                    <button class="nav-btns" onclick="login(window.location.href)">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                    </button>

                {% endif %}



                {% if request.user.is_authenticated %}
                 <a href="{% url 'wishlist' %}">

                    <div class="only-navicons ">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                    </div>

                 </a>
                {% else %}
                <a href="{% url 'account' %}">

                    <div class="only-navicons ">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </div>

                </a>
                {% endif %}


                <a href="{% url 'cart' %}">

                    <div class="only-navicons">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                        <span class="cart-item-count" id="cart-item-count1">0</span>
                    </div>

                </a>

                {% if request.user.is_authenticated %}

                <a href="{% url 'wishlist' %}">

                    <button class="nav-btns wishlist-btn">
                        <i class="fas fa-heart"></i> Wishlist
                    </button>

                </a>

                {% else %}
                <a href="{% url 'account' %}">

                    <button class="nav-btns wishlist-btn">
                        <i class="fas fa-user"></i> Account
                    </button>

                </a>
                {% endif %}

                <a href="{% url 'cart' %}">

                    <button class="nav-btns my-cart-btn">
                        <i class="fas fa-shopping-cart" aria-hidden="true"></i> Cart
                        <span class="cart-item-count" id="cart-item-count">0</span>
                    </button>

                </a>

                {% endblock nav_buttons %}

            </div>

        </nav>

        <div class="toggle-nav " id="toggle-nav">

            {% block toggle_nav_user_part %}
            <ul>
                <a href="{% url 'products' %}">
                    <div >
                        <p>Shop</p>
                        <small>Ready made products</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'products' %}?s=offers">
                    <div >
                        <p>Hot offers</p>
                        <small>Get offer deals</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'products' %}?s=new">
                    <div >
                        <p>New arrivals</p>
                        <small>See our new products</small>
                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'account' %}">
                    <div >
                        <p class="p-link" >Account main</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'order_history' %}">
                    <div  >
                        <p class="p-link">Order history</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'wishlist' %}">
                    <div >
                        <p class="p-link">My wishlist</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                <a href="{% url 'transaction' %}">
                    <div >
                        <p class="p-link">Transactions</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <div >
                        <p class="p-link">Logout</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <div >
                        <p class="p-link">Login</p>

                    </div>

                    <p class="g-icon">></p>
                </a>
                {% endif %}
            </ul>
            {% endblock toggle_nav_user_part %}

            {% block toggle_nav_staff_part %}
            {% endblock toggle_nav_staff_part %}


        </div>

        {% block mobile_filter %}
        {% endblock mobile_filter %}
    </header>
    <form action="/products/" method="get">
        <div class="nav-search-hidden d-none" id="n-srch-hidden">
            <input type="search" name="s" class="nav-search-input" placeholder="search by anything">
        </div>
    </form>


    {% block nav_2 %}
    <nav class="nav-2">
        <div class="nav2-links">

            <div class="category-link nav2-link">

                <div class="menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <a href="{% url 'products' %}">
                    <p>Shop</p>
                </a>

                <div class="hover-menu-category-menu">

                    <div class="mens cat-menu">
                        <p class="title">Mens</p>

                        <ul>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                            <a href="{% url 'products' %}?s=t-shirt">T-Shirts</a>
                        </ul>

                    </div>

                    <div class="womens cat-menu">

                        <p class="title">Womens</p>

                        <ul>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            <a href="#">Jeans Hoodie</a>
                            
                        </ul>
                    </div>

                    <div class="kids cat-menu">
                        <p class="title">Kids</p>

                        <ul>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            <a href="#">Kids Maggie</a>
                            
                        </ul>
                    </div>

                    <div class="others cat-menu">
                        <p class="title">Others</p>

                        <ul>
                            <a href="#">Socks</a>
                            <a href="#">Underware</a>
                            <a href="#">HandGlubs</a>
                            <a href="#">Shoes</a>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="hot-offer nav2-link">
                <a href="{% url 'products' %}?s=Gorom er Offer">
                    <p>Hot offers</p>
                </a>
            </div>

            <div class="gift-boxes nav2-link">
                <a href="{% url 'products' %}">
                    <p>New arrivals</p>
                </a>
            </div>

           

        </div>
    </nav>
    {% endblock nav_2 %}

    <!-- Navigation bar  end -->


    <!-- Base Container -->

    <div class="container" id="container">

        {% block container %}

        <div class="hero" id="hero">
            <div class="hero-contents">
                <h1>Best products & brands in our store</h1>

                <p>Trendy Products, Factory Prices, Excellent Service</p>

                <div class="hero-btns">
                    <a href="{% url 'products' %}">
                        <button class="discover">Discover</button>
                    </a>
                    <button class="learn-more">Learn more</button>
                </div>
            </div>
            
        </div>

        <div class="new-products">

            <p class="section-title">
                New Products
            </p>

            <div class="product-lists">
                {% csrf_token %}
                {% for product in products %}
                    <div class="product-card" id="product-{{product.id}}">

                                    <div class="product-card-and-view-mask">

                                        {% if not product.product_in_stock %}
                                            <div class="extra-msg out">
                                                <p>Out of stock</p>
                                            </div>
                                        {% elif product.on_discount %}
                                            <div class="extra-msg offer">
                                                <p>{{product.discount_reason.discount_reason |upper}} <i>{{product.discount_percentage}}% OFF</i></p>
                                            </div>
                                        {% endif %}

                                        <a href="{% url 'view_details' product.id %}">
                                            <div class="view-mask">
                                                <p>View Details</p>
                                            </div>
                                        </a>

                                        <div class="p-c-img">
                                            <img draggable="false" id="p_img-{{product.id}}"  src="{{product.product_primary_image.url}}" alt="{{product.product_search_keyword}}">
                                        </div>

                                    </div>



                                    <div class="line"></div>


                                    {% if product.on_discount %}
                                         <div class="price">
                                            <p class="n-price">${{product.product_price}}</p>
                                            <p class="offer-price">$<span id="p_price-{{product.id}}">{{product.discount_price}}</span></p>
                                         </div>
                                    {% else %}
                                         <div class="price">
                                            <p>$<span id="p_price-{{product.id}}">{{product.product_price}}</span></p>
                                         </div>
                                    {% endif %}
                                    <p class="title" id="p_title-{{product.id}}">{{product.product_title}}</p>
                                    <input type="hidden" id="p_status-{{product.id}}" value="{{product.product_in_stock}}">

                                    <div class="p-c-btns">
                                        {% if product.product_in_stock %}
                                            <button class="add-to-cart" onclick="add_to_cart( {{product.id}}, `{{request.user}}`, get_size_quantity(false) )">Add to cart</button>
                                        {% else %}
                                             <button class="add-to-cart" style="background:gray; opacity:.6; cursor:not-allowed;" disabled>Out of stock</button>
                                        {% endif %}
                                        <button class="add-to-wishlist" onclick="add_to_wishlist({{product.id}}, `{{request.user}}`, `{{request.user.id}}`)">
                                            <i class="far fa-heart"></i>
                                        </button>
                                    </div>
                                </div>
                {% endfor %}

            </div>

        </div>


        <div class="top-reviews">

            <div class="img1 t-r-bg-img">
                <i class="fa-solid fa-shirt"></i>
            </div>

            <div class="img2 t-r-bg-img">
                <i class="fa-solid fa-socks"></i>
            </div>

            <div class="img3 t-r-bg-img">
                <i class="fa fa-glasses"></i>
            </div>

            <div class="img4 t-r-bg-img">
                <i class="fa-solid fa-poo"></i>
            </div>

            <div class="top-reviews-contents">

                <div class="head">
                    <h1>Customer Top Reviews</h1>
                    <p>Lorquia voluptas, quod aperiam. Lorem ipsum dolor sit amet.lorem5 Lorem ipsum dolor sit amet.</p>

                </div>

                <div class="t-r-content">
                    
                    <div class="d-flex-t-r-content">
                        <img draggable="false" src="{% static 'img/towfiqu-barbhuiya-0ZUoBtLw3y4-unsplash.jpg' %}" alt="">

                        <div class="user-reviews">

                            
                            <div class="reviews">

                                <div class="user">  
                                </div>
                                <div class="texts">
                                    <p class="name">Jahir Raihan</p>
                                    <small>Lorem e Lorem, Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Harum, quas?.</small>

                                </div>

                            </div>
                           


                        </div>
                    </div>
                    

                    <div class="add-review-button">
                        <button>Provide Feedback</button>
                    </div>
                </div>

            </div>

        </div>


        <div class="why-choose-us">
            <p class="section-title">
               Why choose us
            </p>

            <div class="why-choose-us-grid">

                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>
                <div class="w-c-content">
                    <div class="icon">
                        <img src="{% static 'img/star.png' %}" alt="">
                    </div>

                    <div class="text">

                        <p class="title">
                            Fast Delivery
                        </p>
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident aut magnam minima dolore magni enim?</small>

                    </div>

                </div>

            </div>

            


        </div>



        <div class="blog-posts">

            <p class="section-title">
                Blog Posts
             </p>

             <div class="post-list">

                <div class="post">
                    <div class="post-top">
                        <img src="{% static 'img/blog-post.png' %}" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="{% static 'img/date_range.png' %}" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="{% static 'img/blog-post.png' %}" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="{% static 'img/date_range.png' %}" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="{% static 'img/blog-post.png' %}" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="{% static 'img/date_range.png' %}" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>
                <div class="post">
                    <div class="post-top">
                        <img src="{% static 'img/blog-post.png' %}" alt="">
                    </div>

                    
                    <div class="date">
                        <img src="{% static 'img/date_range.png' %}" alt="" class="date-icon">
                        <p> 12-03-2023</p>
                    </div>
                    <p class="title">Blog Post title goes here</p>

                    <small>Lorem ipsum dolor sit amet ectetur adipisicing elit. Similique fuga sint quas quibusdam quasi itaque?</small>

                </div>

             </div>

        </div>

        {% endblock container %}
        
    </div>

    <!-- End Base Container -->

    <!-- Footer -->


    <footer>
        {% block footer_top %}

        <div class="footer-contents">

        
            <div class="footer-flex-items">

                <div class="brand-details">
                    <div class="img">
                        <img src="{% static 'img/logo-white.png' %}" alt="Logo" class="logo">
                    </div>
                    
                    <p>Company name. </p>
                    <p>c 2018-2021 Templatemount.</p>
                    <p>All rights reserved.</p>
                </div>

                <div class="help f-links">
                    <p class="title">Help</p>

                    <div class="links">
                        <a href="#">Contact Us</a>
                        <a href="#">Refunds</a>
                        <a href="#">Live Chat</a>
                        <a href="#">Track Info</a>
                    </div>
                </div>

                <div class="about f-links">
                    <p class="title">About</p>

                    <div class="links">
                        <a href="#">About Us</a>
                        <a href="#">Services</a>
                        <a href="#">Policy & Terms</a>
                        <a href="#">Blog posts</a>
                    </div>
                </div>

                <div class="partnership f-links">
                    <p class="title">Partnership</p>

                    <div class="links">
                        <a href="#">Login / Register</a>
                        <a href="#">Settings</a>
                        <a href="#">My Orders</a>
                        
                    </div>
                </div>

                <div class="newsletter f-links">
                    <p class="title">Newsletter</p>

                    <p class="txt">Stay in touch with latest updates about our products and offers</p>

                    <div class="newsletter-input">
                        <input type="text" placeholder="Email">
                        <button>Join</button>
                    </div>

                    
                </div>

            </div>

            
        </div>

        {% endblock footer_top %}

        {% block footer_bottom %}

        <div class="footer-bottom">

            <div class="f-b-contents">

            
                <div class="payment-methods">
                    <img src="{% static 'img/Payment-methods.png' %}" alt="">
                </div>

                <div class="links">
                    <a href="#">Support</a>
                    <a href="#">Privacy & Cookies</a>
                    <a href="#">Accessibility</a>
                </div>
            </div>
        </div>

        {% endblock footer_bottom %}

    </footer>


    <!-- End Footer -->
    <script src="{% static 'js/index.js' %}"></script>
    {% block js_bottom %}{% endblock js_bottom %}
</body>
</html>