{% extends 'index.html' %}
{% load static %}

    {% block title %} Checkout {% endblock title %}


    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/order_info.css' %}">
    {% endblock cssfiles %}
    


    {% block hclass_names %} class="order-header" {% endblock hclass_names %}>
    {% block nclass_names %} class="nav order-nav" {% endblock nclass_names %}>

    {% block nav_search %}
    {% endblock nav_search %}

    {% block nav_buttons %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'account' %}">
                <button class="nav-btns">
                    <i class="fa fa-user" aria-hidden="true"></i> Account
                </button>
            </a>

            <a href="{% url 'account' %}">
                <div class="only-navicons">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </a>
        {% else %}

            <div class="only-navicons" >
                <i class="fa fa-sign-in" aria-hidden="true" onclick="login(window.location.href)"></i>
            </div>


            <button class="nav-btns" onclick="login(window.location.href)">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
            </button>

        {% endif %}

    {% endblock nav_buttons %}

    {% block nav_2 %}

    {% endblock nav_2 %}

    {% block container %}
        <div class="navigator-products">
            <div class="n-p-contents">
                <a href="{% url 'home' %}}">Home > </a>
                <a href="{% url 'cart' %}">Cart ></a>
                <a href="{% url 'checkout' %}" style="color:gray">Order Info ></a>
            </div>
            
        </div>

        <!-- End Page Navigator -->

        <div class="info-container">

        
            <!-- Recevier and Address inputs -->

            <div class="address-info-and-sign-in-option">


                {% if not request.user.is_authenticated %}
                    <div class="sign-in-msg">

                        <div class="left">
                            <p class="title">Have an Account?</p>
                            <small>By Creating account you will get more benefits</small>
                        </div>

                        <div class="right">
                            <button class="sign-in" onclick="login(window.location.href)">Sign in</button>

                            <button class="create-account" onclick="register(window.location.href)">Create account</button>
                        </div>
                    </div>
                {% endif %}
                <form id="shipping-and-address-form">
                    <input type="hidden" id="user" value="{{request.user}}">
                    {% csrf_token %}
                    <div class="shipping-and-address">


                        <div class="address-info">

                            <div class="guest-checkout">

<!--                    If user is logged in then show the checkbox else hide it -->

                                {% if request.user.is_authenticated %}
                                    <input type="checkbox" name="guest_checkout" id="guest_checkout" onclick="toggle_g_d()" value="false">
                                    <p class="title">Guest checkout</p>
                                {% else %}
                                    <p class="title" style="margin-left:0;">Guest checkout</p>
                                {% endif %}

                            </div>

                            {% if request.user.is_authenticated %}
                            <div class="address-flex a-f-tp">

                                <div class="left">
                                    <p>First name</p>

                                    <input type="text" id="first_name" disabled placeholder="Type here . . .">
                                </div>

                                <div class="right">
                                    <p>Last Name</p>

                                    <input type="text" id="last_name" disabled placeholder="Type here">
                                </div>

                            </div>

                            <div class="address-flex a-f-tp a-f-tp-phone-email">
                                <div class="left">
                                    <p>Phone</p>
                                    <input type="number" id="phone" required placeholder="+880172393473">
                                </div>
                                <div class="right">
                                    <p>Email</p>

                                    <input type="email" id="email" disabled placeholder="eample@email.com">
                                </div>
                            </div>
                            {% else %}
                            <div class="address-flex">

                                <div class="left">
                                    <p>First name</p>

                                    <input type="text" id="first_name" required placeholder="Type here . . .">
                                </div>

                                <div class="right">
                                    <p>Last Name</p>

                                    <input type="text" id="last_name" required placeholder="Type here">
                                </div>

                            </div>

                            <div class="address-flex">
                                <div class="left">
                                    <p>Phone</p>
                                    <input type="number" id="phone" required placeholder="+880172393473">
                                </div>
                                <div class="right">
                                    <p>Email</p>

                                    <input type="email" id="email" required placeholder="eample@email.com">
                                </div>
                            </div>
                            {% endif %}

                            <div class="line"></div>

                        </div>

                        <div class="shipping-info">

                            <p class="title">Address & Payment Type</p>

                            <div class="delivery-choice">

                                <div class="choice-card choice-selected cod" id="cod">

                                    <img class="cod" src="{% static 'img/cash-on-delivery.png' %}" alt="">
                                </div>

<!--                                First of all wait until bkash merchant account is open-->

<!--                                <div class="choice-card bkash" id="bkash">-->
<!--                                    <img src="{% static 'img/1656227518bkash-logo-png.png' %}" alt="">-->
<!--                                </div>-->

                                <div class="choice-card sslcom" id="sslcom">
                                    <img src="{% static 'img/sslcom-logo.png' %}" alt="">
                                </div>

                            </div>

                            {% if not request.user.is_authenticated %}

                            <div class="saved-address-container" id="saved-addresses-container-local">


                                <p class="title">
                                    Saved Addresses <span style="font-size:12px;">(Local memory)</span>

                                </p>
                                <div class="saved-addresses" id="saved-addresses">

                                </div>
                            </div>

                            {% elif  request.user.address_set.all %}
                                <div class="saved-address-container" id="saved-addresses-container">

                                    <p class="title">Saved Addresses</p>
                                    <div class="saved-addresses">
                                        {% for address in request.user.address_set.all %}
                                            <div class="address" id="{{address.id}}">
                                                <div class="address-info">

                                                    <div class="icon-and-info">
                                                        <div class="img">
                                                            <i class="fa fa-map-marker loc-icon" aria-hidden="true"></i>
                                                        </div>

                                                        <p class="address-details">
                                                            {{address.city|title}}, {{address.address|title}} , Zip: {{address.zipcode}}
                                                        </p>
                                                    </div>

                                                    <div class="three-dots">
                                                        <i class="fa fa-ellipsis-v t-dots" ></i>
                                                    </div>
                                                </div>

                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            {% endif %}



                            <div class="address-flex a-f-btm">

                            <div class="left">

                                <p>Address(*)</p>
                                <input type="text" id="address" required placeholder="Type here">

                            </div>

                            <div class="right">

                                <p>Post / ZIP code</p>
                                <input type="text" id="zipcode" required placeholder="Type here">

                            </div>

                        </div>

                            <div class="address-flex a-f-btm">

                                <div class="left">

                                    <p>City</p>

                                    <input type="text" id="city" required placeholder="City, Area">
                                </div>

                                <div class="right">
                                    <p>Country</p>
                                    <select name="" id="country">
                                        <option value="bangladesh">Bangladesh</option>
                                    </select>
                                </div>

                            </div>

                            <div class="note-to-seller">
                                <p class="title">Note to seller</p>
                                <textarea name="" id="note_to_seller" cols="30" rows="10" placeholder="Type Anything"></textarea>
                            </div>

                        </div>

                        <div class="save-checkup">
                            <input type="checkbox" id="save-this-address">
                            <span>Save this address</span>
                        </div>

                        <div class="btns">
                            <button class="continue" type="submit">
                                Confirm
                            </button>

                            <a href="{% url 'products' %}" style="text-decoration:none">
                                <button class="return-to-shop">Return to shop</button>
                            </a>
                        </div>

                    </div>
                </form>
            </div>

            <!-- End Receiver and Address inputs -->

            <!-- Cart Summary -->

            <div class="summary">

                <div class="amount">

                    <p class="title">
                        Summary
                    </p>

                    <div class="price1">
                        <p>Unit Price : </p>
                        <p>$ <span id="unit-price">0.00</span></p>
                    </div>

                    <div class="discount">
                        <p>Discount : </p>
                        <p class="discount-amount">
                            -$<span id="discount-amount">0.00</span>
                        </p>
                    </div>

                    <div class="tax">
                        <p>Tax : </p>
                        <p class="tax-amount">+$ <span id="tax-amount">0.00</span></p>
                    </div>
                    <div class="shipping-cost">
                        <p>Shipping Cost : </p>
                        <p class="shipping-amount">+$<span id="shipping-amount">0.00</span></p>
                    </div>

                    <div class="line"></div>

                   <div class="total">
                        <p>Total : </p>
                        <p class="total-amount">
                            $<span id="items_total_amount">0.00</span>
                        </p>
                    </div>

                    <div class="line"></div>

                </div>

                <div class="items-in-cart" id="items-in-cart">

                    <p class="title">Items in cart</p>

                </div>

            </div>

            <!-- End Cart Summary -->

        </div>

   {% endblock container %}

    {% block js_bottom %}
        <script src="{% static 'js/order_info.js' %}"></script>

    {% endblock js_bottom %}

