{% extends 'index.html' %}
{% load static %}

{% block title %} Products {% endblock title %}


    {% block cssfiles %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    {% endblock cssfiles %}

    {% block search_suggestions %}
        <script>
            var search_query = '{{query}}'
            var all_keywords = [{% for p in search_keywords %} '{{p.product_title}}', {% endfor %}
                {% for p in search_keywords %} '{{p.product_search_keyword}}', {% endfor %}
                {% for p in search_keywords %} '{{p.product_tags}}',{% endfor %}
                {% for c in categories %} '{{c.category_name}}', {% endfor %}
                {% for r in reasons %} '{{r.discount_reason}}', {% endfor %}];
        </script>
    {% endblock search_suggestions %}

    {% block nav_search %}<div></div>{% endblock nav_search %}

    {% block mobile_filter %}
        <div class="mobile-filter-container">
            <div class="hidden-filter-mobile" id="hidden-filter-mobile">

            </div>
        </div>
    {% endblock mobile_filter %}
    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">
            <div class="n-p-contents">
                <a href="{% url 'home' %}">Home > </a>
                <a href="{% url 'products' %}">Products ></a>
            </div>
            
        </div>

        <!-- End Page Navigator -->

        <!-- Product Container -->
       

        <div class="product-container">

            <!-- Filter Container -->

            {% csrf_token %}

            <div class="filter-container" id="main-filter-container">

                <div class="filter" id="filter-contents">
                    <div class="close-filter d-none" id="close-filter">
                        <div></div>
                        <i class="fa fa-times" onclick="enable_hidden_filter(false)"></i>
                        
                    </div>
                    <div class="line"></div>

                    <div class="category-container filter-item">
                        <div class="filter-item-top">
                            <p>Categories</p>
                            <i style="font-size:24px" class="fa">&#xf107;</i>
                        </div>

                        {% for category in categories %}
                        <p class="category" cat_id="{{category.id}}" id="category_id{{category.id}}">{{category.category_name}}</p>
                        {% endfor %}

                    </div>

                    <div class="meterial filter-item">

                        <div class="filter-item-top">
                            <p>Refinements</p>
                            <i style="font-size:24px" class="fa">&#xf107;</i>
                        </div>

                        <form>

                            
                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox1">
                                    
                                    <p>Mens Jeans full sleeve</p>
                                    <p>24</p>
                                    <input type="checkbox" id="">
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox2">
                                    
                                    <p>T-shirts half sleeve</p>
                                    <p>44</p>
                                    <input type="checkbox" >
                                    <span class="checkmark" id="checkmark-2"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox3" >
                                    
                                    <p>T-shirts full sleeve</p>
                                    <p>42</p>
                                    <input type="checkbox" id="">
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox4">
                                    
                                    <p>Hoodies</p>
                                    <p>34</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox5">
                                    
                                    <p>Women Jeans</p>
                                    <p>24</p>
                                    <input type="checkbox" id="">
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox6">
                                    
                                    <p>Mens Shirts full sleeve</p>
                                    <p>78</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox7">
                                    
                                    <p>Kids</p>
                                    <p>24</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox8">
                                    
                                    <p>Socks</p>
                                    <p>24</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox9">
                                    
                                    <p>T-Shirts</p>
                                    <p>24</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>
                             
                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox10">
                                    
                                    <p>Premium Masks</p>
                                    <p>24</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>

                            <div class="filter-box">
                                <label class="custom-check-container refinements-input-checkbox" id="refinements-input-checkbox11">
                                    
                                    <p>Lungies</p>
                                    <p>24</p>
                                    <input type="checkbox" id="" >
                                    <span class="checkmark"></span>
                                </label>
                                
                            </div>
                            

                        </form>


                    </div>

                    <div class="condition filter-item">
                        <div class="filter-item-top">
                            <p>Offerings</p>
                            <i style="font-size:24px" class="fa">&#xf107;</i>
                        </div>

                        <form action="">

                            {% for offer in reasons %}
                                <label class="custom-check-container offerings-checkbox">
                                    <p>{{offer.discount_reason}}</p>
                                    <input type="checkbox" id="" name="">
                                    <span class="checkmark"></span>
                                </label>
                            {% endfor %}


                        </form>

                    </div>

                    <div class="price-range filter-item">
                        <div class="filter-item-top">
                            <p>Price</p>
                            <i style="font-size:24px" class="fa">&#xf107;</i>
                        </div>

                        <div class="range">
                            <div class="range-slider">
                            <span class="range-selected"></span>
                            </div>
                            <div class="range-input">
                            <input type="range" class="min" min="0" max="5000" value="0" step="10">
                            <input type="range" class="max" min="0" max="5000" value="5000" step="10">
                            </div>
                            <div class="range-price">      
                            <label for="min">Min</label>
                            <input type="number" name="min" value="0" class="min-max">
                            <label for="max">Max</label>
                            <input type="number" name="max" value="5000" class="min-max">
                            </div>
                        </div> 

                    </div>

                </div>
            </div>

            

            <!-- End Filter Container -->

            <!-- Product List -->

            <div class="product-list" id="product-list">
                
                <div class="product-list-top">

                    <div class="p-l-t-ham-and-search">

                        <div class="hidden-filter-icon">
                            <i class="fa fa-sliders" onclick="enable_hidden_filter(true)"></i>

                        </div>
                  

                        <div class="product-list-search search-container-global">

                        

                            <input type="text" id="nav-search" placeholder="Search a product . . . ">
                            <button><i class="fa fa-fw fa-search"></i></button>

                            <!-- To hide contents below, illiegally -->
                            

                            <div class="search-result-suggestion d-none" id="s-r-s">
                                <ul id="s-list">

                                </ul>
                            </div>
                        </div> 
                    </div>

                    

                    <div class="sort-by-price">
                        <div></div>
                        <div class="s-b-p" onclick="change_sorting()">
                            <p>Sort by price </p>
                            <i class="fas fa-sort" id="sort-icon"></i>
                        </div>
                        
                    </div>

                    <div class="loader" id="loader-product-page">
                        <i style="opacity:.5" class="fas fa-cog fa-spin"></i>
                    </div>
                </div>


                <!-- Tags & Refinements -->

                <div class="product-list-tags-and-refinements">

                    <div class="refinements">

                        <div class="refinements-filters" id="refinements">

                            <div class="tag-btn">
                                <p>Refinements</p>


                            </div>

                            {% if query_string %}
                            <div class="tag-btn refinements-p" id="search-query-tag">
                                <p>{{query}}</p>
                                <div class="cross" onclick="del_s_q()">✕</div>
                            </div>
                            {% endif %}

                        </div>

                        <button onclick="clear_refinements()">clear refinements </button>
                        
                    </div>

                    <div class="tags" id="tags">

                        <div class="tag-btn main-tag">
                            <p>Tags</p>
                            
                        </div>

                    </div>
                    

                </div>

                <!-- End Tags & Refinements -->


                <!-- Products Grid -->

                <div class="p-grid-container">

                    <ol class="products-grid" id="products-grid">

                        {% for product in products %}
                        <li>

                            <div class="product-card" id="product-{{product.id}}">

                                <div class="product-card-and-view-mask">

                                    {% if not product.product_in_stock %}
                                        <div class="extra-msg out">
                                            <p>Out of stock</p>
                                        </div>
                                    {% elif product.on_discount %}
                                        <div class="extra-msg offer">
                                            <p>{{product.discount_reason.discount_reason |upper}} <i>{{product.discount_percentage}}% OFF</i></p>
                                        </div>
                                    {% endif %}

                                    <a href="{% url 'view_details' product.id %}">
                                        <div class="view-mask">
                                            <p>View Details</p>
                                        </div>
                                    </a>

                                    <div class="p-c-img">
                                        <img draggable="false" id="p_img-{{product.id}}"  src="{{product.product_primary_image.url}}" alt="{{product.product_search_keyword}}">
                                    </div>

                                </div>



                                <div class="line"></div>


                                {% if product.on_discount %}
                                     <div class="price">
                                        <p class="n-price">$99.99</p>
                                         <p class="offer-price">$<span id="p_price-{{product.id}}">88.00</span></p>
                                     </div>
                                {% else %}
                                     <div class="price">
                                        <p>$<span id="p_price-{{product.id}}">88.00</span></p>

                                     </div>
                                {% endif %}
                                <p class="title" id="p_title-{{product.id}}">{{product.product_title}}</p>
                                <input type="hidden" id="p_status-{{product.id}}" value="{{product.product_in_stock}}">

                                <div class="p-c-btns">
                                    {% if product.product_in_stock %}
                                        <button class="add-to-cart" onclick="add_to_cart( {{product.id}}, `{{request.user}}`, get_size_quantity(false) )">Add to cart</button>
                                    {% else %}
                                         <button class="add-to-cart" style="background:gray; opacity:.6; cursor:not-allowed;" disabled>Out of stock</button>
                                    {% endif %}
                                    <button class="add-to-wishlist" onclick="add_to_wishlist({{product.id}}, '{{request.user}}', '{{request.user.id}}')">
                                        <i class="far fa-heart"></i>
                                    </button>
                                </div>
                            </div>

                        </li>
                        {% endfor %}

                    </ol>

                

               
                </div>

                <!-- End Products Grid -->

            </div>

            <!-- End Product List -->

        </div>

        <!-- End Product Container -->

    {% endblock container %}

    <!-- End Base Container -->

    {% block footer_top %}{% endblock footer_top %}
    {% block footer_bottom %}{% endblock footer_bottom %}


    {% block js_bottom %}
        <script src="{% static 'js/products.js' %}"></script>
    {% endblock js_bottom %}

