{% extends 'index.html' %}
{% load static %}

    {% block title %} Account Main {% endblock title %}


    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
    {% endblock cssfiles %}

    <!-- Navigation Bar -->
    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}
    {% block nav_search %}
    {% endblock nav_search %}

    {% block nav_buttons %}

        <button class="nav-btns">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
        </button>

        <div class="only-navicons">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>

        <div class="only-navicons">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </div>

       <button class="nav-btns">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> Add a product
        </button>
    {% endblock nav_buttons %}


    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}

        <ul>

            <a href="{% url 'staff_main2' %}">
                <div >
                    <p class="p-link" >Account main</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'add_products' %}">
                <div  >
                    <p class="p-link">Add a product</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="#">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}
    {% endblock nav_2 %}
  
    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'staff_main2' %}">Home > </a>
                <a href="{% url 'staff_main2' %}">Account ></a>
                <a href="{% url 'staff_main2' %}">Staff ></a>
                <a href="{% url 'staff_main2' %}" style="color:gray">Main</a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'staff_main2' %}"><li class="current-tab-profile">Main</li></a>
                    <a href="{% url 'add_products' %}"><li class="">Add | Edit a product</li></a>
                    <a href="#"><li class="">Log out</li></a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Profile User & Orders List & Status -->
            
            <div class="profile-content">

                <div class="user-details">
                    
                    <div class="user">

                        <div class="img">
                            <img src="../img/person.png" alt="">
                        </div>

                        <div class="name-email-phone">
                            <div class="staff-title">

                                <p class="name">Jahir Raihan Joy</p>
                                <p class="abs-tag">
                                    Product Adder
                                </p>

                            </div>
                            
                            <div class="email-phone">
                                <p>Email : myusername@gmail.com</p>
                                <p>Phone : +8801720988071</p>
                            </div>
                        </div>
                    </div>

                    <div class="saved-addresses">

                        <div class="address">
                            <div class="address-info address-selected">

                                <div class="icon-and-info">
                                    <div class="img">
                                        <i class="fas fa-check-circle confirmed-icon"></i>
                                    </div>

                                    <div class="staff-main-c-c-orders-info">
                                        <p class="address-details">
                                            Products Added
                                        </p>
                                        <p class="address-details">234</p>

                                    </div>
                                    
                                    
                                </div>
                                

                                <div class="three-dots">
                                    <i class="fa fa-ellipsis-v t-dots"
                                        onclick="document.getElementById('show-all-p-a').classList.toggle('d-none');"></i>

                                    <div class="three-dots-popup" id="show-all-p-a">
                                        <button class="show-all-btn-added-products" >Show all</button>
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        


                        

                    </div>

                

                </div>

                <div class="line"></div>


                <div class="current-orders">

                    <form action="">
                        <div class="search-facility">
                            <input type="search" placeholder="search by anything">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>

                            <div class="search-loader-stf-main" id="search-loader-staff-main">
                                <i class="fas fa-cog fa-spin"></i>
                            </div>
                        </div>
                    </form>

                    <p class="title"> Recenlty added products</p>


                    <div class="wishlist-items added-items">

                        <div class="item">
                            
                            <div class="edit-pen">

                                <i class="fas fa-pen"></i>

                            </div>

                            <div class="img-and-details">
                                <img src="../img/image 17.png" alt="">

                                <div>
                                     <p class="wish-item-title">White Brown logistic Jeans, full sleeve pure cotton with rush</p>
                                    <small>$99.00</small>
                                </div>

                                <div class="edit-pen-right">

                                    <i class="fas fa-pen"></i>
    
                                </div>

                               

                            </div>

                            <p class="status">In Stock</p>

                            <div class="add-to-cart-and-datetime">
                                <div class="date">
                                    <small>Added on 19 July, 2022</small>
                                </div>
   
                            </div>



                        </div>

                    </div>

                </div>

            </div>

            <!-- End Profile User & Orders List & Status -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}
    
    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}