{% extends 'index.html' %}
{% load static %}

    {% block title %} Pending Orders {% endblock title %}


    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/staff_main.css' %}">
    {% endblock cssfiles %}

    <!-- Navigation Bar -->
    {% block hclass_names %} class="staff-header" {% endblock hclass_names %}
    {% block nav_search %}
    {% endblock nav_search %}

    {% block nav_buttons %}

        <div class="only-navicons">
            <i class="fas fa-clock-rotate-left"></i>
            <span class="p-o-cnt d-none">12</span>
        </div>

        <button class="nav-btns pending-orders-btn">
            <i class="fas fa-clock-rotate-left"></i> Pending Orders
            <span class="p-o-cnt">12</span>
        </button>

    {% endblock nav_buttons %}

    {% block toggle_nav_user_part %}
    {% endblock toggle_nav_user_part %}

    {% block toggle_nav_staff_part %}
        <ul>

            <a href="{% url 'staff_main1' %}">
                <div >
                    <p class="p-link" >Account main</p>

                </div>

                <p class="g-icon">></p>
            </a>
            <a href="{% url 'pending_orders' %}">
                <div  >
                    <p class="p-link">Pending orders</p>

                </div>

                <p class="g-icon">></p>
            </a>

            <a href="#">
                <div >
                    <p class="p-link">Logout</p>

                </div>

                <p class="g-icon">></p>
            </a>
        </ul>
    {% endblock toggle_nav_staff_part %}

    {% block nav_2 %}
    {% endblock nav_2 %}

    {% block container %}

        <!-- Page Navigator -->

        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'staff_main1' %}">Home > </a>
                <a href="{% url 'staff_main1' %}">Account ></a>
                <a href="{% url 'staff_main1' %}">Staff ></a>
                <a href="{% url 'pending_orders' %}" style="color:gray">Pending Orders</a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'staff_main1' %}"><li class="">Main</li></a>
                    <a href="{% url 'pending_orders' %}"><li class="current-tab-profile">Pending Orders</li></a>
                    <a href="#"><li class="">Log out</li></a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Profile User & Orders List & Status -->
            
            <div class="profile-content">
                <div class="current-orders">

                    <form id="search_pending_order">

                        <div class="search-facility">
                            <input type="search" id="query" placeholder="search by anything">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

                            <div class="search-loader-stf-main" id="search-loader-staff-main">
                                <i class="fas fa-cog fa-spin"></i>
                            </div>

                        </div>

                    </form>

                    <p class="title"> Pending orders</p>
                    {% csrf_token %}
                    <div id="pending-orders-container">
                    {% for order in orders %}

                            <div class="order pending-order">

                                <div class="order-top">

                                    <div class="o-id-date">
                                        <p>Order ID : {{order.order.order_id}} <span>{{order.order.order_date|date:'d M, Y'}}</span></p>
                                        <p class="status status-pending" id="order-status{{order.order.id}}">Pending</p>
                                    </div>

                                    <div class="order-util-btns">
                                        <button class="cancel-order pending-order" id="cancelled-btn{{order.order.id}}" onclick="order_action('cancel', {{order.order.id}})">Cancel</button>
                                        <button class="track-order pending" id="confirm-btn{{order.order.id}}" onclick="order_action('confirm', {{order.order.id}})">Confirm</button>
                                    </div>

                                </div>

                                <div class="order-middle">

                                            <div class="delivery-person">

                                                <p class="o-m-title">
                                                    Person
                                                </p>

                                                <p>{{order.order.order_person_name|title}}</p>
                                                <p>Phone : {{order.order.order_person_phone}}</p>
                                                <p>Email : {{order.order.order_person_email}}</p>

                                            </div>

                                            <div class="delivery-address">
                                                <p class="o-m-title">
                                                    Delivery address
                                                </p>

                                                <p class="d-address">{{order.order.delivery_location|title}}</p>

                                            </div>

                                            <div class="payment">
                                                <div class="o-m-title">
                                                    Payment
                                                </div>

                                                <p class="payment-type">
                                                    {{order.order.order_payment_method}}
                                                </p>

                                                <p>Shipping fee : $150</p>
                                                <p>Total paid : ${{order.order.order_total_price}}</p>
                                            </div>

                                        </div>

                                <div class="line"></div>

                                <div class="ordered-items">

                                            {% for item in order.items %}
                                             <div class="item">

                                                <div class="img">
                                                    <img src="{{item.item.product_primary_image.url}}" alt="">
                                                    <div class="cnt">
                                                        <p>{{item.quantity}}</p>
                                                    </div>
                                                </div>

                                                <div class="info">
                                                    <p class="title">{{item.item.product_title}}</p>
                                                    <small>Total : ${{item.price}}</small>
                                                </div>


                                            </div>
                                            {% endfor %}


                                        </div>

                            </div>

                    {% endfor %}
                    </div>


                </div>

            </div>

            <!-- End Profile User & Orders List & Status -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}
    
    <!-- End Base Container -->

    {% block footer_top %}
    {% endblock footer_top %}
    {% block footer_bottom %}
    {% endblock footer_bottom %}

    {% block js_bottom %}
    <script src="{% static 'js/staff.js' %}"></script>
    {% endblock js_bottom %}
