{% extends 'index.html' %}
{% load static %}

    {% block title %} Transactions {% endblock title %}

    {% block cssfiles %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
    {% endblock cssfiles %}

    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}

        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'home' %}}">Home > </a>
                <a href="{% url 'account' %}">Account ></a>
                <a href="{% url 'transaction' %}" style="color:gray">Transactions ></a>
            </div>

        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                 <ul>
                    <a href="{% url 'account' %}"><li class="">Account main</li></a>
                    <a href="{% url 'order_history' %}"><li >Orders history</li></a>
                    <a href="{% url 'wishlist' %}"><li class="">My wishlist</li></a>
                    <a href="{% url 'transaction' %}" class="current-tab-profile"><li class="">Transactions</li></a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}"><li class="">Log out</li></a>
                    {% else %}
                        <a href="{% url 'login' %}"><li class="">Log in</li></a>
                    {% endif %}
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Transaction List -->

            <div class="profile-content">

                <div class="current-orders transactions">

                    <p class="title"> Transactions </p>

                    <div class="transaction-list">

                        {% for tran in transactions %}
                            <div class="item">

                                <div class="operator-logo">

                                    <img src="{% static 'img/1656227518bkash-logo-png.png' %}" alt="">

                                </div>

                                <div class="trans-id-and-amount">

                                    <p class="trans-id "> <span>Trans ID:</span> {{tran.transaction_id}}</p>
                                    <p class="trans-id"><span>Amount:</span> ${{tran.transaction_amount}}</p>

                                </div>

                                <p class="date">{{tran.transaction_date}}</p>



                                <a href="/account/query-order-history/?s={{tran.order.id}}" style="text-decoration:none">
                                    <button class="view-order-btn">
                                        View order
                                    </button>
                                </a>

                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>

            <!-- End  Transaction List  -->

        </div>

    {% endblock container %}
