{% extends 'index.html' %}
{% load static %}

    {% block title %} My Wishlist {% endblock title %}
    {% block cssfiles %}

        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">


    {% endblock cssfiles %}

    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}
        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'home' %}">Home > </a>
                <a href="{% url 'account' %}">Account ></a>
                <a href="{% url 'wishlist' %}" style="color:gray">Wishlist ></a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="{% url 'account' %}"><li class="">Account main</li></a>
                    <a href="{% url 'order_history' %}"><li class="">Orders history</li></a>
                    <a href="{% url 'wishlist' %}"><li class="current-tab-profile">My wishlist</li></a>
                    <a href="{% url 'transaction' %}"><li class="">Transactions</li></a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}"><li class="">Log out</li></a>
                    {% else %}
                        <a href="{% url 'login' %}"><li class="">Log out</li></a>
                    {% endif %}
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Wish List -->
            
            <div class="profile-content">

                <div class="current-orders">
                    {% if request.user.is_authenticated %}
                        {% if items %}
                        <p class="title" id="wishlist-item-title"> Items </p>

                        <div class="wishlist-items">

                            {% for item in items %}
                                <div class="item" id="wish-list-item-{{item.id}}">

                                    <div class="trash">

                                        <i class="fas fa-trash" onclick="remove_wishlist_item({{item.id}})"></i>

                                    </div>

                                    <div class="img-and-details">
                                        <img id="p_img-{{item.id}}" src="{{item.product_primary_image.url}}" alt="{{item.product_title}}">

                                        <div>
                                             <p class="wish-item-title" id="p_title-{{item.id}}">{{item.product_title}}</p>
                                            <small>$ <span id="p_price-{{item.id}}">{{item.product_price}}</span></small>
                                        </div>

                                        <div class="trash-right">

                                            <i class="fas fa-trash" onclick="remove_wishlist_item({{item.id}})"></i>

                                        </div>

                                    </div>

                                    {% if item.product_in_stock %}
                                        <p class="status" id="{{item.id}}">In Stock</p>
                                        <div class="add-to-cart-and-datetime">
                                            <div class="date"></div>
                                            <button class="add-to-cart"  id="wishlist-cart-btn-{{item.id}}" onclick="add_to_cart( {{item.id}}, `{{request.user}}`, get_size_quantity(false) )">
                                                Add to cart
                                            </button>
                                        </div>
                                    {% else %}
                                        <p class="status" id="{{item.id}}" style="color:red;">Out of Stock</p>
                                        <div class="add-to-cart-and-datetime">
                                            <div class="date"></div>

                                            <button class="add-to-cart" style="background-color:gray; opacity:.6;cursor:not-allowed;" disabled id="wishlist-cart-btn-{{item.id}}" onclick="add_to_cart( {{item.id}}, `{{request.user}}`, get_size_quantity(false) )">
                                                Add to cart
                                            </button>
                                        </div>
                                    {% endif %}





                                </div>
                            {% endfor %}

                        </div>
                        {% else %}
                        <p class="title" style="text-align:center;"> Wishlist is empty ! </p>
                        {% endif %}
                    {% else %}
                        <div class="wishlist-items" id="load-wishlist-items">

                        </div>
                    {% endif %}

                </div>

            </div>

            <!-- End  Wishlist List  -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}

    {% block js_bottom %}
        <script src="{% static 'js/wishlist.js' %}"></script>
    {% endblock js_bottom %}