{% extends 'index.html' %}
{% load static %}

    {% block title %} My Wishlist {% endblock title %}
    {% block cssfiles %}

        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
        <link rel="stylesheet" href="{% static 'css/page_profile.css' %}">


    {% endblock cssfiles %}

    {% block nav_2 %}{% endblock nav_2 %}

    {% block container %}
        <div class="navigator-products">

            <div class="n-p-contents">
                <a href="{% url 'home' %}">Home > </a>
                <a href="#">Account ></a>
                <a href="{% url 'wishlist' %}" style="color:gray">Wishlist ></a>
            </div>
            
        </div>

        <!-- End Page Navigator -->


        <!-- Profile Container -->

        <div class="profile-container">

            <!-- Profile Navigation -->

            <div class="profile-nav">

                <ul>
                    <a href="#"><li class="">Account main</li></a>
                    <a href="#"><li class="">Orders history</li></a>
                    <a href="#"><li class="current-tab-profile">My wishlist</li></a>
                    <a href="#"><li class="">Transactions</li></a>
                    <a href="#"><li class="">Log out</li></a>
                </ul>

            </div>

            <!-- End Profile Navigation -->


            <!-- Wish List -->
            
            <div class="profile-content">

                <div class="current-orders">

                    <p class="title"> Items </p>

                    <div class="wishlist-items">

                        <div class="item">
                            
                            <div class="trash">

                                <i class="fas fa-trash"></i>

                            </div>

                            <div class="img-and-details">
                                <img src="../img/image 17.png" alt="">

                                <div>
                                     <p class="wish-item-title">White Brown logistic Jeans, full sleeve pure cotton with rush</p>
                                    <small>$99.00</small>
                                </div>

                                <div class="trash-right">

                                    <i class="fas fa-trash"></i>
    
                                </div>

                               

                            </div>

                            <p class="status">In Stock</p>

                            <div class="add-to-cart-and-datetime">
                                <div class="date">
                                    <small>Added on 19 July, 2022</small>
                                </div>
                                

                                <button class="add-to-cart">
                                    Add to cart
                                </button>
                            </div>



                        </div>
                        <div class="item">
                            
                            <div class="trash">

                                <i class="fas fa-trash"></i>

                            </div>

                            <div class="img-and-details">
                                <img src="../img/image 17.png" alt="">

                                <div>
                                     <p class="wish-item-title">White Brown logistic Jeans, full sleeve pure cotton with rush</p>
                                    <small>$99.00</small>
                                </div>

                                <div class="trash-right">

                                    <i class="fas fa-trash"></i>
    
                                </div>

                               

                            </div>

                            <p class="status">In Stock</p>

                            <div class="add-to-cart-and-datetime">
                                <div class="date">
                                    <small>Added on 19 July, 2022</small>
                                </div>
                                

                                <button class="add-to-cart">
                                    Add to cart
                                </button>
                            </div>



                        </div>
                        <div class="item">
                            
                            <div class="trash">

                                <i class="fas fa-trash"></i>

                            </div>

                            <div class="img-and-details">
                                <img src="../img/image 17.png" alt="">

                                <div>
                                     <p class="wish-item-title">White Brown logistic Jeans, full sleeve pure cotton with rush</p>
                                    <small>$99.00</small>
                                </div>

                                <div class="trash-right">

                                    <i class="fas fa-trash"></i>
    
                                </div>

                               

                            </div>

                            <p class="status">In Stock</p>

                            <div class="add-to-cart-and-datetime">
                                <div class="date">
                                    <small>Added on 19 July, 2022</small>
                                </div>
                                

                                <button class="add-to-cart">
                                    Add to cart
                                </button>
                            </div>



                        </div>
                        <div class="item">
                            
                            <div class="trash">

                                <i class="fas fa-trash"></i>

                            </div>

                            <div class="img-and-details">
                                <img src="../img/image 17.png" alt="">

                                <div>
                                     <p class="wish-item-title">White Brown logistic Jeans, full sleeve pure cotton with rush</p>
                                    <small>$99.00</small>
                                </div>

                                <div class="trash-right">

                                    <i class="fas fa-trash"></i>
    
                                </div>

                               

                            </div>

                            <p class="status">In Stock</p>

                            <div class="add-to-cart-and-datetime">
                                <div class="date">
                                    <small>Added on 19 July, 2022</small>
                                </div>
                                

                                <button class="add-to-cart">
                                    Add to cart
                                </button>
                            </div>



                        </div>

                    </div>


                </div>

            </div>

            <!-- End  Wishlist List  -->

        </div>

        <!-- End Profile Container -->


    {% endblock container %}
